[2014-10-06 02:10] michaelrice opened #6 "SSO support"
Need to add support for SSO

https://www.vmware.com/support/developer/vc-sdk/sso-sdk/

[2014-10-06 02:15] michaelrice opened #7 "SMS Support"
Need to add support for SMS

https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/sms.rb
https://www.vmware.com/support/developer/vc-sdk/sms-sdk/

[2014-10-06 02:19] michaelrice opened #8 "SPBM Storage Policy SDK Support"
Need to add support for Storage Policy aka SPBM

https://www.vmware.com/support/developer/vc-sdk/spbm-sdk/

[2014-10-06 02:20] michaelrice opened #9 "Add support for CIM SDK"
Need to add support for CIM SDK

https://www.vmware.com/support/developer/cim-sdk/

[2014-10-21 02:25] michaelrice opened #12 "replace all prints"
Replace all prints with logging

[2014-10-22 03:45] #12 closed, assigned to nobody

[2014-10-27 04:33] michaelrice opened #14 "Unit Testing for WebServices"
Need to create unit tests for the WebServices utilities.

[2014-11-03 11:52] neil-greenwood opened #15 "Maven repository"
Hi,

Are any versions of this project available on a Maven repository? I can't find any on the central repo.

Many thanks,
Neil.

[2014-11-03 14:07] michaelrice commented on #15
Hello @neil-greenwood right now there are not any versions of this on central maven. What I am doing internally is building manually with gradle and hosting it on our own artifactory. I do plan to spend a little bit of time one weekend soon to figure out what it takes to get it published on central maven.

[2014-11-03 15:22] neil-greenwood commented on #15
Thanks for the update. I'm doing something similar for the moment.

[2014-11-09 08:36] michaelrice commented on #15
Issue created to being process to get yavijava added to maven central https://issues.sonatype.org/browse/OSSRH-12303

[2014-11-12 08:10] neil-greenwood opened #18 "IllegalAccessExceptions in XmlGen for transient fields"
During a WS call, there are intermittent exceptions thrown within XmlGen when it tries to serialize the parameters for the WS call. On the occasions when exceptions are thrown, many occur.

They look similar to the following stacktrace:

[code]

I think I have a fix for this (not serializing transient fields), which I'm in the process of testing now. I'll create a pull-request when it's ready.

[2014-11-14 03:27] michaelrice commented on #18
Let me know if there is anything I can help with on this @neil-greenwood

[2014-11-14 09:40] neil-greenwood commented on #18
I got held up by work :-( and the unit tests failing because I hadn't entered parameters in the VcenterInfo.properties file.

I've pushed a change to my forked repo now, just doing some more testing.

Should we be mocking the interactions in the unit tests, rather than requiring access to a real Vcenter?

[2014-11-14 15:37] michaelrice commented on #18
Yeah we totally should be. Technically what we have right now is an integration test.

[2014-11-14 15:40] neil-greenwood opened #20 "Use mocks in unit tests"
I'll look into this.

[2014-11-14 15:41] neil-greenwood commented on #18
Logged issue #20.

[2014-11-14 15:48] neil-greenwood commented on #20
I'm thinking of moving the current tests to src/intTest/java or src/integTest/java.

http://thoughtfulsoftware.wordpress.com/2014/01/26/integration-testing-a-gradle-application/ has some nice ideas.

Any preference on the name?

[2014-11-14 18:35] michaelrice commented on #20
IntTest is fine by me. Thanks for your help on this.

[2014-11-15 02:34] #18 closed, assigned to nobody

[2014-12-03 21:17] michaelrice commented on #20
Hi @neil-greenwood hows this coming?

[2014-12-03 21:18] #15 closed, assigned to nobody

[2014-12-05 09:04] neil-greenwood commented on #20
Slowly. I've moved the current tests, since that was quite easy. I'm busy in work which is holding up the creation of new unit tests using mocks.

[2014-12-05 13:59] michaelrice commented on #20
@neil-greenwood Can you open a p/r with the changes to the structure? That way I can start working on some more tests as well that will merge cleanly into this new layout.

[2014-12-05 14:14] neil-greenwood commented on #20
P/r #26 created.

[2015-01-27 04:39] anupamcharles opened #27 "Unable to filter events with severity "error""
Hi friends,

Please see below code, in which i am trying to filter events with severity "error" but looks like it is not filtering and fetching all the events.Please let me know if i am doing something wrong. i am using vmware api and using python to fetch events. i tried in different versions of vsphere like 5.1 and 5.5 but in both case i am unable to filter events with error.

import atexit

fro

[2015-01-27 04:42] michaelrice commented on #27
You opened this on the wrong project. This bug report is about https://github.com/vmware/pyvmomi but you opened the issue on yavijava which is a Java library.

[2015-01-27 04:42] #27 closed, assigned to nobody

[2015-02-02 14:51] hubertverstraete opened #28 "Exceptions are not received by the caller"
Each API call may throw an exception that is defined in the vSphere API reference. But these exceptions are not received by the caller.
I have written a very simple code that tries to login to an ESXi/vCenter server with an unknown user. The expected result is to receive an InvalidLogin exception, but no exception is received.

Until vijava 5.1, I was receiving all exceptions as expected, but in v

[2015-02-02 14:53] hubertverstraete commented on #28
[code]

[2015-02-02 14:55] michaelrice commented on #28
Which version of java are you using?

-mike
 On Feb 2, 2015 8:51 AM, "hubertverstraete" notifications@github.com
wrote:

[2015-02-02 15:01] hubertverstraete commented on #28
I've edited my first comment while you were sending this mail, please
reload the page.

On Mon, Feb 2, 2015 at 3:55 PM, Michael Rice notifications@github.com
wrote:

[2015-02-02 19:49] michaelrice commented on #28
I can tell this is going to take some time to fix. There are literally 0 tests around this part of the code. Im looking into how to test it the way its currently implemented but its looking more and more like Im going to have to do a fair bit of refactoring to make this part of the code testable. Ill keep you updated with what I find and try to get a fix out as quickly as I can.

[2015-02-03 03:45] michaelrice opened #29 "vsphere 6 support"
vSphere 6 announced today. Need to add support.

[2015-02-07 05:13] michaelrice commented on #28
@hubertverstraete I have a small patch that restores the broken exceptions in vijava 5.5 I was doing some testing and found that vijava 5.5 beta is only throwing a RemoteException when it should be throwing something else. The commit 74e438a restores that. I am going to work on fixing the actual problem this weekend. Before I work on fixing it though I am going to start writing tests around the pa

[2015-02-20 13:59] michaelrice commented on #28
Hi @hubertverstraete

My latest commit 1cb9066 fixes the issue you reported. Im not going to rush out an update to maven because I still dont have the test coverage I want and I would like to make sure there arent any other issues like this, but please apply the patch and do some tests and let me know how it goes.

[2015-02-20 14:08] #28 closed, assigned to michaelrice

[2015-02-20 15:47] hubertverstraete commented on #28
Hi Michael,
I've tried with the latest commit and for now it works much much better.
I was able to receive the following exceptions and their arguments:
InvalidPowerState
GuestOperationsUnavailable
InvalidLogin
FileNotFound
FileAlreadyExists

[2015-02-20 19:31] michaelrice commented on #28
Thats wonderful! Ill be working on better coverage over the next couple of weeks, and I am currently hoping to release my next update in late March or early April.

[2015-02-21 06:23] #20 closed, assigned to nobody

[2015-02-26 15:11] LeeTheMC commented on #29
Have you identified any particular issues with vSphere 6?

We are currently having problems with the InventoryNavigator class from ViJava on vSphere 6, and I suspect that something changed on the platform.

So obviously we are looking for alternatives to ViJava...

[2015-02-26 15:54] michaelrice commented on #29
Please feel free to try YAVIJAVA and report any bugs. With 6 not being GA
yet I haven't added any specific support for it yet.
On Feb 26, 2015 9:11 AM, "LeeTheMC" notifications@github.com wrote:

[2015-02-26 22:43] michaelrice commented on #29
@LeeTheMC I have created https://github.com/michaelrice/yavijava/tree/vsphere_6 to begin development for adding support for 6.0

[2015-02-27 16:03] rjtokenring commented on #29
I will have vSphere 6 env RC ready next week. I will try and let you know my results.

[2015-02-28 01:02] michaelrice commented on #29
@rjtokenring sounds great. Im having issues with how I normally test which I have raised here: https://communities.vmware.com/message/2481606 so until that is resolved for me Im stuck with what little Ive been able to do thus far.

[2015-02-28 02:29] LeeTheMC commented on #29
Can you re-post the message from the community?  It says that I'm not
authorized to view it.  Thanks.

On Fri, Feb 27, 2015 at 8:02 PM, Michael Rice notifications@github.com
wrote:

[2015-02-28 03:14] michaelrice commented on #29
@LeeTheMC I did some searching and just realized vsphere 6 is still under the NDA terms. I thought since it had been announced and since so many vmware employees have been openly blogging about various bits that the NDA period had ended. That is not the case so due to that I decided to delete the branch I created and Im going to refrain from any further discussion regarding support  for vsphere 6

[2015-03-06 05:29] michaelrice commented on #29
@LeeTheMC I think I spotted the problem with the InventoryNavigator you are having. Its looking for the API version to begin with 4 or 5 to use a newer style traversal spec for its property collector, else it will use a very old style one. And since 6 isnt 4 or 5 then its falling back to that old style one.

https://github.com/michaelrice/yavijava/blob/gradle/src/main/java/com/vmware/vim25/mo/Inve

[2015-03-06 09:51] rjtokenring commented on #29
Yes, it is the same problem that I've found! I've seen your message too late and you answered before me on this thread :)

[2015-03-08 16:06] michaelrice opened #34 "When using Java 8 lots of javadoc problems"
:javadoc
52 errors
100 warnings
:javadoc FAILED

FAILURE: Build failed with an exception.
- What went wrong:
  Execution failed for task ':javadoc'.

- Try:
  Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

[2015-03-08 16:11] michaelrice opened #35 "InventoryNavigator shouldnt use a startsWith to decide versions"
When using yavijav on some versions of vSphere the InventoryNavigator can make bad choices about what SelectionSpec it should use from the PropertyCollectorUtil due to assumptions it makes because of a startsWith

[2015-03-08 16:16] michaelrice commented on #35
This issue is somewhat related to #29

[2015-03-08 19:09] #35 closed, assigned to michaelrice

[2015-03-08 19:12] michaelrice commented on #29
@LeeTheMC @rjtokenring  I changed the code in the InventoryNavigator that was using the hard coded version inspection looking for version 4 or 5 to pick which TraversalSpec it would generate. It now just check to see if you have version >= 4 and uses the newer style. This makes InventoryNavigator function as expected on version 4.0 and newer. Please feel free to give it a try. Ill be pushing it to

[2015-03-12 15:46] michaelrice commented on #29
Hey everyone. I re-pushed my 6.0 branch. Looks like it went GA today.

[2015-03-12 17:23] ljader commented on #29
Thx for your work Michael on vSphere 6.
I have one suggestion - your commit 487c7e3f56f should be splitted into two:
a) one which introduces only whitespace changes
b) and second one which fixes things for vSphere 6
Using this aproach it would be easier when using blame with ignoring whitespaces https://coderwall.com/p/x8xbnq

[2015-03-12 17:28] michaelrice commented on #29
@ljader thanks for your feedback. Ill try to do that going forward. There is a lot of tabs to spaces changes Ill be making.

[2015-03-13 03:52] michaelrice opened #37 "Need for the vim25 library to be serializable"
This feature request: http://sourceforge.net/p/vijava/feature-requests/27/

Its simple enough to implement this so does anyone care or have feelings one way or another if this is done or not?

[2015-03-13 03:57] michaelrice opened #38 "Reuse SSLSocketFactory"
http://sourceforge.net/p/vijava/feature-requests/24/

This part of the code has been refactored since this was reported but I dont think its really been fixed. I think its just called another way now.

[code]

[2015-03-18 05:37] michaelrice opened #39 "MorUtil seems to be missing a method"
In the MorUtil there is a createMORs but not a createMOR createMOR is for some reason in the XmlGen class.

This should be corrected but due to the public nature of the exposed method in XmlGen it needs to be deprecated and switched to use the new code that will be added to MorUtil that way if anyone is using this outside of the project their code will not break and we give them time to make adjus

[2015-03-31 08:59] gionn opened #41 "VMware vCloud Director support"
Hi,
we are looking for a decent java library to consume the vcloud REST API, what is the current support in this project?

If needed, we can work on it.

Thanks!

[2015-04-01 01:07] jaidmoha3 commented on #29
IoFilterManager is empty. Could you please add support for it. Thanks a lot.

[2015-04-01 01:28] michaelrice commented on #29
Hi @jaidmoha3 I got busy with some work projects the last couple of weeks but should be able to get back to 6.0 support this week sometime. Thanks for your feedback!

[2015-04-01 01:34] michaelrice commented on #41
Hello @gionn vCloud Director is not part of vSphere and has its own REST based API. This project is only for vSphere APIs and currently only supports the SOAP Web Services API. I have other branches where I plan to add other vSphere APIs like the SSO, SMS, etc.. but have not done the work on those yet.

VMWare supplies a JAVA SDK for vCloud Director and I have used it. It works fine. Is there a re

[2015-04-02 20:18] manthinaa opened #42 "All Exceptions casting to RemoteException."
All the exceptions getting while creating ServiceInstance are getting casted in to RemoteException. And those can't cast, ServiceInstance class is throwing ClassCassException instead of the original exception. And following is the stracktrace:
Caused by: java.lang.ClassCastException: java.net.UnknownHostException cannot be cast to java.rmi.RemoteException
    at com.vmware.vim25.ws.WSClient.invoke

[2015-04-06 22:21] jaidmoha3 commented on #29
Can i take the latest vsphere 6 patch and use it to connect to vsphere server 6.0, to get the basic stuff working?

[2015-04-06 22:41] michaelrice commented on #29
You can use 5.5.10 and it will work fine. You just won't get access to the
new managed objects, data objects, methods, and properties.
On Apr 6, 2015 5:22 PM, "Jaidil Karippara" notifications@github.com wrote:

[2015-04-06 22:57] jaidmoha3 commented on #29
Ok thanks. i am on VI Java 5.5, the last release. I am planning to move to yavi and use the vsphere 6 , especially the new MO's and data objects.. so will wait for you update on the 6.0. Any timeframe we are looking here for 6.0 support. Thanks and appreciate your help.

[2015-04-06 23:35] jaidmoha3 commented on #29
Do we have login with certificate available under yavi, this is the login without user session or credentials but with the certificate that we used for vcenter registration

[2015-04-06 23:36] michaelrice commented on #29
Its hard to give a time line for this because I only work on it in my free
time. I can say I am actively working on it everyday right now because I
have nothing else pressing to do, but that could change anytime without
much notice.

Getting 6.0 support has not been made a priority for us at work yet so I
can't get anyone else on my team working on this yet in our sprints.

I do welcome pull reque

[2015-04-06 23:38] michaelrice commented on #29
I'm not sure. I'll take a look and see. If not I'll create an issue and get
it on the roadmap.
On Apr 6, 2015 6:35 PM, "Jaidil Karippara" notifications@github.com wrote:

[2015-04-06 23:42] jaidmoha3 commented on #29
I am interested in helping develop support for 6.0 version

[2015-04-06 23:46] jaidmoha3 commented on #29
Just to get 6.0 working, we need to change the soapclient api version to 6.0 right ?

[2015-04-07 00:06] michaelrice commented on #29
No. To get 6.0 vSphere to work with yavijava all you have to do is use
5.5.10 or newer. And it will "just work" if you want to try any of the new
managed objects I've added support for up to this point you need to use the
vsphere 6 branch
On Apr 6, 2015 6:46 PM, "Jaidil Karippara" notifications@github.com wrote:

[2015-04-07 00:12] jaidmoha3 commented on #29
I will pick the vsphere 6 branch , i need the new objects as well.

[2015-04-07 02:39] michaelrice commented on #29
Ive created a trello board with tasks of what needs to be done:

https://trello.com/b/cfmXM08Y/yavijava

[2015-04-07 03:01] michaelrice commented on #29
@jaidmoha3 about the login you asked about. Do you know the specific method needed for that? Ive never used that type of login personally but based on the docs it seems like you are looking for `loginByToken` which is currently in the code base.

[2015-04-07 04:46] jaidmoha3 commented on #29
Please assign iofiltermanager and overhead manager to me

Thanks,
Jaidil

[2015-04-07 04:49] michaelrice commented on #29
@jaidmoha3 do you have a trello user name? Ill add you to the org so you can pick up the story.

[2015-04-07 18:29] jaidmoha3 commented on #29
Jaidil Karippara (jaidilkarippara) is my trello user name

[2015-04-08 20:41] michaelrice opened #45 "new vsphere 6 managed objs have wrong getters and setters"
After doing a code review I found that the getters and setters are done incorrectly for the new vsphere 6.0 managed objects I added. The properties need to be adjusted to use getCurrentProperty and friends from the ManagedObject class before they are merged into the gradle branch and released for consumption.

This relates to #29

[2015-04-14 18:27] jaidmoha3 commented on #45
am getting the following exception during PropertyCollector.retrievePropertiesEx(ClusterResource.)

java.rmi.RemoteException: Exception in SoapClient.invoke:; nested exception is:
    java.lang.NoSuchFieldException: protocolEndpoint

[2015-04-14 19:07] michaelrice commented on #45
@jaidmoha3 It will really help to know what youre doing when you get that. Can you provide the minimal amount of code possible to reproduce the problem?

[2015-04-14 20:04] jaidmoha3 commented on #45
am upgrading to the GA version of vCenter Server 6.0, i was on a vMware private drop, maybe that is causing the problem.

This is the API am using.

[code]

  public RetrieveResult retrievePropertiesEx(PropertyFilterSpec[] specSet, RetrieveOptions options) throws InvalidProperty, RuntimeFault, RemoteException
  {
    return getVimService().retrievePropertiesEx(getMOR(), specSet, options);
  }

[2015-04-14 21:24] michaelrice commented on #45
@jaidmoha3 Im sorry but you still havent given me anything I can go on here.. Can you please give me some sample code I can run that will reproduce your error?

Just a simple java file with a main class I can compile and run?

[2015-04-15 00:54] jaidmoha3 commented on #45
java.rmi.RemoteException: Exception in SoapClient.invoke:; nested exception is:
	java.lang.NoSuchFieldException: maxMemoryFileSize

While trying to collect Cluster level objects, am seeing the noSuchFieldException.. Is it because we haven't implemented the code completely for the

 @Override
    public ObjectContent[] getObjectsByParentEntitys(ManagedEntity parentEntity, String[][] entityType)

[2015-04-17 02:44] jaidmoha3 opened #48 "java.lang.NoSuchFieldException: protocolEndpoint"
When trying retrievepropertiesEx, for collecting HostSystem and VirtualMachines, am seeing the below issue,
  com.vmware.vim25.ws.WSClient                                      Exception caught while invoking method: RetrievePropertiesEx java.rmi.RemoteException: Exception in SoapClient.invoke:; nested exception is:
    java.lang.NoSuchFieldException: protocolEndpoint
    at com.vmware.vim25.ws.Xml

[2015-04-17 02:49] michaelrice commented on #48
Hello @jaidmoha3 It would help when you report issues if you take a look at this:  http://www.softwaretestinghelp.com/how-to-write-good-bug-report/

Its going to be impossible to fix these things you report if you dont include the version, and the steps it takes for me to reproduce.

[2015-04-17 02:51] jaidmoha3 commented on #48
I am thinking some fields is not implemented :  protocolEndpoint is not implemented
The source is from the vsphere6 branch .
Rev 481 from https://github.com/michaelrice/yavijava.git/branches/vsphere_6
Trying to talk to a vSphere Server 6.0 GA

Retrieving the hosts and virtual machine information for a cluster resource

[2015-04-17 02:57] michaelrice commented on #48
@jaidmoha3 Thanks for trying to clear it up, but that doesnt exactly help me reproduce this problem. Let me point you at what a good bug report looks like:
https://github.com/vmware/pyvmomi/issues/194#issue-50756424

See here the reporter gives a pretty detailed description of the problem, and most importantly they provide a sample block of code that can be executed by a developer so the problem c

[2015-04-17 03:12] jaidmoha3 commented on #48
java.rmi.RemoteException: Exception in SoapClient.invoke:; nested exception is:
    java.lang.NoSuchFieldException: protocolEndpoint
    at com.vmware.vim25.ws.XmlGenDom.fromXML(Unknown Source)
    at com.vmware.vim25.ws.SoapClient.unMarshall(Unknown Source)
    at com.vmware.vim25.ws.WSClient.invoke(Unknown Source)
    at com.vmware.vim25.ws.VimStub.retrievePropertiesEx(Unknown Source)
    at com

[2015-04-17 03:15] michaelrice commented on #48
Im really confused by what you are doing in this code. Most of this is not needed to do a simple property collector. Right now the problem you are running into is not a bug in the code (well the exception part is a bug. It is already reported in #42 though and Im working on a fix for it). Your problem is just that you are doing it wrong.

Can you tell me if this is what you want to do:

Create a p

[2015-04-17 03:18] jaidmoha3 commented on #48
Yes, i want exactly the same..  To get all the hosts and vms from a given cluster. For the hosts you want some properties, and the vms you want some properties.

[2015-04-17 03:19] michaelrice commented on #48
Ill write you a sample. Ill update this thread when I have it done.

[2015-04-17 03:21] jaidmoha3 commented on #48
Is this exception same as reported in https://github.com/michaelrice/yavijava/issues/42,
any work around to get me going with the propertycollector to get the details

[2015-04-17 04:52] michaelrice commented on #48
@jaidmoha3 Here is the correct way to do what you are doing. Please keep in mind its very generic and you would need to expand it so you can relate VirtualMachines to HostSystems properly.

https://gist.github.com/michaelrice/1f84f2254c31b6ec2b24

[2015-04-17 04:52] #48 closed, assigned to michaelrice

[2015-04-17 05:46] michaelrice commented on #48
@jaidmoha3 I just made an update to the sample I made you. Please check it out again. It uses the newer `retrievePropertiesEx()` method you were using in your example.

[2015-04-18 14:46] michaelrice opened #49 "Implement some GuestOperationHelpers"
Implement some helpers that will implement GuestOperations that simplify downloading files, and running scripts in the guest os. This would be similar to the functionality in the doublecloud vmguest package. Ideally all methods from that package should be implemented with the same params and returns so people could migrate to the open source version in yavijava by only having to change namespace i

[2015-04-18 17:16] michaelrice opened #50 "getGuestOperationsManager() returning null"
A bug has been reported via email saying that the latest version of yavijava has an issue where getGuestOperationsManager() is returning null.

[2015-04-18 17:22] jaidmoha3 commented on #48
Thank you much . Please share the fix for issue 42 as well

Thanks,
Jaidil

[2015-04-18 17:39] michaelrice commented on #48
As soon as I have that fix done I will. Its causing me some major headaches.

[2015-04-18 17:58] michaelrice commented on #48
If anyone stumbles upon this in the future I turned this sample into a self contained gradle project and put it here: https://github.com/michaelrice/yavijava_cluster_prop_example

[2015-04-21 14:44] michaelrice commented on #50
They now say it works, but just to be sure Im going to leave this open until I have some test cases written around it.

[2015-04-21 16:23] michaelrice commented on #50
[code]

[2015-04-23 05:14] saamalik opened #53 "Question: List all Datastore Clusters (StoragePod) available"
How do I retrieve list of all Datastore Clusters which are attached to ALL hosts of a specific ESX cluster?

For instance, given an ESX Cluster Fooo (ClusterComputeResource), I want list all Datastore Clusters (StoragePod) that are connected to EVERY host in an ESX cluster.

My initial naive attempt was as follows:

[code]

The problem with the above is that ClusterComputeResource.getDatastores()

[2015-04-27 12:37] shubhamrajvanshi opened #54 "Need help"
Is there a way to get Mor to an object instead of getting it through the invetorybrowser object. Sorry don't know where to post questions for this and this project looked it's active

[2015-04-27 12:41] michaelrice commented on #54
I'm not sure what you mean by this. Can you give me an example using the
inventory navigator of what you're doing?

Also this is the right place to ask questions. I have a label I'll tag the
issue with for questions.

-mike
On Apr 27, 2015 07:37, "Shubham Rajvanshi" notifications@github.com wrote:

[2015-04-27 23:39] shubhamrajvanshi commented on #54
Is there any alternative to this:
VirtualMachine vm = (VirtualMachine) new InventoryNavigator(
                    rootFolder).searchManagedEntity("VirtualMachine", vmname);

can't i do something like:
ServiceInstance si = new ServiceInstance(options);
si.getrooFolder().getMor().setType("VirtualMachine ");

and then set it to a particular VM

[2015-04-28 04:44] michaelrice commented on #54
I feel like youre trying to do something specific and think that using the moref is the right thing to do.. which normally isnt right. Would you mind elaborating on what your really trying to do? If youre trying to find a specific VirtualMachine by avoiding the InventoryNavigator there are several ways to do that and they do not involve needing to mess with the moref at all..

[2015-04-28 04:52] michaelrice commented on #53
Hi @saamalik not sue how I missed this. What do you mean by `but that doesn't necessarily mean that ALL hosts in the cluster have the datastore mounted.`

[2015-04-28 05:29] saamalik commented on #53
Hi @michaelrice,
For instance imagine the following:
- Datastore Cluster A
  - Datastore 1
- Datastore Cluster B
  - Datastore 2
- ESX Cluster Foo
  - Host A (DS 1)
  - Host B (DS 1, DS 2)

If the user selects ESX Cluster Foo, then since both hosts A & B have DS 1 mounted, then Datastore Cluster A should be listed as an available DSC Cluster. However DSC B should _not_ be listed since Host A does

[2015-04-28 06:15] shubhamrajvanshi commented on #54
I want to find a vm by passing the vmname to the function. Then perform operations like poweron, poweroff and get details about VM. During my old project I did by finding it through inventorynavigator but don't think it's the right way. If there's a better way to do it then it would help.

I am basically calling vijavaapi using Spring. I have been successful to get ServiceInstance bean but don't k

[2015-04-28 06:18] shubhamrajvanshi commented on #54
Idea is to implement a IaaS solution using vmware infrastructure. This is one of my academic project but it would be nice implement and say :P

[2015-04-28 13:14] michaelrice commented on #54
OK I figured as much. You really dont want to mess with the moref to do this. Also depending on the size of your environment and stuff you really might want to consider using something other than the name. Name is not unique within the vCenter, or even the same Datacenter. I highly recommend using the instance uuid. The instance uuid is the _only_ thing you can count on being unique in the vCenter

[2015-04-28 13:22] michaelrice commented on #53
Hi @saamalik,

I created a [sample](https://github.com/michaelrice/yavijava_cluster_prop_example) a couple of days ago that may help you here. It gets info about a given cluster using property collectors. You would need to expand upon it though. You would want to add properties like `datastore` to the HostSystem properties. Then you would want to add Datastore the way HostSystem and VirtualMachine

[2015-04-28 14:10] michaelrice commented on #41
Hi @gionn since you have never responded again Im just going to close this out.

[2015-04-28 14:10] #41 closed, assigned to nobody

[2015-04-28 16:33] saamalik commented on #53
Thanks for the response @michaelrice. Ok, I'll give it a go. Thanks.

[2015-04-28 19:50] gionn commented on #41
Hi @michaelrice,

I missed your reply, sorry for that.

The problems that arise with the official SDK are many, and the biggest hits for me are the lack of sources and the absence of abstraction on the SDK API (I've lost countless hours figuring how to retrieve a particular piece of information, having as unique help a huge PDF written a decade ago).

For this reason I was looking around to search

[2015-04-28 20:34] michaelrice commented on #41
Have you looked at jclouds? It may have support..
On Apr 28, 2015 2:50 PM, "Giovanni Toraldo" notifications@github.com
wrote:

[2015-04-28 20:54] gionn commented on #41
Yeah, they supported vcloud, then no one was actively maintaining it, and then they dropped the support from a recent release.

http://mail-archives.apache.org/mod_mbox/jclouds-user/201411.mbox/%3CCABoR60JOYeoff_psgf2X_VcvYDCro81-wLgm0NGR9mPk+qetcQ@mail.gmail.com%3E

[2015-05-01 22:46] LeeTheMC commented on #29
Hi Michael.  Thanks for all of your work on vSphere 6.  It is much appreciated.

Have you tried the SessionManager.CloneSession() method at any point?  I'm having issues with it on vSphere 6.  It throws a NotAuthenticated exception when trying to acquire the clone ticket.

[2015-05-01 23:09] michaelrice commented on #29
Hi Lee I have never used that method on any version. Would you mind opening
a new issue and include your full stack trace and any logs. It would also
help if you can give me a small sample app that I can run that will
reproduce the problem.

Thanks!

-mike
On May 1, 2015 5:46 PM, "LeeTheMC" notifications@github.com wrote:

[2015-05-02 04:18] atokasema opened #57 "VirtaulMachine.getConfig() is throwing RuntimeException"
VirtaulMachine.getConfig() is throwing Runtime Exception.
Exception detail below:
java.lang.RuntimeException: java.rmi.RemoteException: Exception in SoapClient.invoke:; nested exception is:
    java.lang.NoSuchFieldException: faultToleranceType

[2015-05-02 04:27] michaelrice commented on #57
Hello @atokasema can you provide your version of vSphere you are hitting, and also what version of yavijava you are using, and what version of java are you using?

[2015-05-02 04:47] atokasema commented on #57
vSphere 6.0
How do i check the yavijava version?
Java 7

[2015-05-02 05:38] michaelrice commented on #57
@atokasema the jar file has the version in the name in most cases. Where did you get the jar you are running now?

[2015-05-02 06:44] atokasema commented on #57
Just to verify my setup, I used vijava55.jar and tried the same call on same setup and it worked fine.

jar file was downloaded from this website only, but by my colleague and passed on to me. yavijava60.jar is jar file I am using.

jar MANIFEST file content:
Manifest-Version: 1.0
Ant-Version: Apache Ant 1.9.4
Bnd-LastModified: 1428963351169
Bundle-ManifestVersion: 2
Bundle-Name: yavijava60
Bundle

[2015-05-02 06:57] michaelrice commented on #57
@atokasema This is not a bug. Please see #29 support for 6.0 is in progress. The work has not been done yet for this to work.

[2015-05-02 06:57] #57 closed, assigned to nobody

[2015-05-02 07:01] michaelrice commented on #57
Specifically this will need to be implemented: http://pubs.vmware.com/vsphere-60/index.jsp?topic=%2Fcom.vmware.wssdk.apiref.doc%2Fvim.VirtualMachine.FaultToleranceType.html

You should really be using yavijava 5.5.10 from public maven. The vsphere 6.0 branch should only be used right now by developers working to help add vsphere 6.0 support or to report bugs about the features identified in #29 th

[2015-05-05 04:33] michaelrice commented on #53
Im going to close this issue out since I havent heard anything else. If you need additional assistance please feel free to reopen.

[2015-05-05 04:33] #53 closed, assigned to nobody

[2015-05-05 04:34] michaelrice commented on #54
Hi @shubhamrajvanshi Im going to go ahead and close this issue out. If you still need more help regarding it please feel free to reopen it.

[2015-05-05 04:34] #54 closed, assigned to nobody

[2015-05-12 00:26] jaidmoha3 commented on #29
I have the ioFiltermanager and other classes ready for review.

Please let me know how to proceed for commit /merge/review

Thanks,
Jaidil

On Mon, Apr 6, 2015 at 9:46 PM, Jaidil jaidilmohan@gmail.com wrote:

[2015-05-12 00:58] michaelrice commented on #29
Hi @jaidmoha3 please make sure you have rebased against the vsphere6 branch, then open a pull request against the vsphere6 branch.

If you need any assistance with that feel free to join me on either freenode irc in #vijava or use the gitter chat here: https://gitter.im/yavijava/yavijava

[2015-05-16 15:29] michaelrice commented on #45
ClusterEVCManager is one of the culprits here.

[2015-05-18 19:45] zaheena commented on #42
Hey @michaelrice

Did you get a chance to look at this?

[2015-05-18 20:49] michaelrice commented on #42
@zaheena I have not. The statement "All exceptions" is not correct though. Any VMWare exceptions are not casting as such. I am only seeing this happen on connection related exceptions like Anil reported. I do know the VMWare faults all cast properly so I have not made this a big priority.

Is it causing problems for you?

[2015-05-18 21:00] zaheena commented on #42
@michaelrice
We are trying to catch the UnknowHostException which would help us identify the case when a virtual center is not found.

[2015-05-18 21:06] michaelrice commented on #42
@zaheena can you email me the logs to my rackspace account so I can see what all logs are getting triggered. From a quick glance this is going to be a pretty painful refactor to fix but maybe the logs will show me somewhere else I could add a fix.

[2015-05-18 21:23] michaelrice commented on #42
@zaheena What about this? Can you ask Bud how terrible he thinks this would be?

[code]

This might be a sensible work around.. I hate it, but with out a seriously major refactor I dont see a lot of options..

It seems as though everything was turned into this RemoteException thing, and so non vmware exceptions will basically fail. I dont know what else to do for a short term fix

[2015-05-18 21:27] zaheena commented on #42
@michaelrice
I will ask him and get back.
Meanwhile I will email you the error log.

[2015-05-18 21:31] michaelrice commented on #42
@zaheena Thanks

This will at least make it so you can get that unknown host.. you will have to catch RemoteException then do a getCause() on it to get the next throwable which would be the UnknownHost

[2015-05-19 03:26] #42 closed, assigned to michaelrice

[2015-05-23 23:34] michaelrice commented on #29
For those watching this issue for progress there is 1 more existing ManagedObject to add new methods to, and 1 new managed object in review. That puts this pretty close to being done. There is a lot more left that I did not put on the trello board though. There will still be close to 90 existing Dataobjects that have new properties that need to be updated, almost 50 new enums, and over a dozen exi

[2015-05-23 23:35] michaelrice commented on #29
One other thing. I should be cutting my first beta release for 6.0 is about 1 week or so. Stay tuned!

[2015-05-23 23:44] jaidmoha3 commented on #29
Hi ,
Can we sit together on Tuesday to complete my pull request for iofiltermanager

Thanks,
Jaidil

[2015-05-24 00:05] michaelrice commented on #29
I'm trying to knock these things out before next week because I start a new
job Tuesday. I can't say for sure how much time I will have but I can try.
What time were you wanting to try to meet up?

-mike
On May 23, 2015 6:44 PM, "Jaidil Karippara" notifications@github.com
wrote:

[2015-05-24 02:41] jaidmoha3 commented on #29
am available 9 AM PST - 9 PM PST on tuesday.. Please let me know your
convenience

On Sat, May 23, 2015 at 5:05 PM, Michael Rice notifications@github.com
wrote:

[2015-05-26 16:41] michaelrice commented on #29
@jaidmoha3 Ive got some spare time now. Can you join the gitter chat or freenode irc on #vijava

[2015-05-26 16:43] michaelrice commented on #29
Folks as soon as this IOFilterManager code is merged we will be ready for the first beta release!

[2015-05-26 16:55] michaelrice commented on #45
This was fixed by 2840908

[2015-05-26 16:55] #45 closed, assigned to nobody

[2015-05-27 03:50] michaelrice commented on #29
OK folks, this thing is ready for a 6.0 beta release. Once I merge this code Im closing this issue and locking it. For any issues you find in the 6.0.01b1 release please open a NEW issue.

[2015-05-27 03:51] #29 closed, assigned to michaelrice

[2015-05-27 03:57] michaelrice commented on #29
OK,

For those of you who want to test out this new `6.0.01b1` release go to this page:

[code]

Download the `6.0.01b1.zip` file.
Unzip the file. A directory called yavijava-6.0.01b1 will be created. Enter that directory.
On Linux or Mac use:

[code]

On Windows use:

[code]

This will build a jar for you. It will be in the `build/libs` directory.

[2015-06-11 08:46] hubertverstraete opened #90 "In yavijava-6.0.01b1 capacityInBytes of VirtualDisk should be Long"
In the data class VirtualDisk, capacityInBytes appeared in vSphere 5.5 as a Long (the object) because it may or may not be set. Unfortunately, in the vSphere 6 branch of yavijava, capacityInBytes is now a long and therefore must always have a value.
Here is a link to the v6 doc: http://pubs.vmware.com/vsphere-60/index.jsp?topic=%2Fcom.vmware.wssdk.apiref.doc%2Fvim.vm.device.VirtualDisk.html

[2015-06-11 16:49] michaelrice commented on #90
Hi @hubertverstraete thanks for the report. Ive fixed this issue in [yavijava_generator/18](https://github.com/yavijava/yavijava_generator/pull/18) and will rerun the generator this afternoon and cut a new beta release when thats done.

These are all the files suffering from this bug:

[code]

[2015-06-11 23:37] michaelrice commented on #90
@hubertverstraete I've cut a 6.0.01b2 release: https://github.com/yavijava/yavijava/releases/tag/6.0.01b2 Thanks again for reporting this!

[2015-06-11 23:37] #90 closed, assigned to michaelrice

[2015-06-11 23:40] michaelrice commented on #8
For anyone curious this is under development here: https://github.com/atokasema/yavijava/tree/spbm_client_changes Once development is complete it will be made part of the 6.0 yavijava release.

[2015-06-12 09:16] hubertverstraete opened #93 "In yavijava-6.0.01b2 some arrays of long became arrays of Long"
VirtualMachineConfigSpec and VirtualMachineConfigInfo both have the properties npivPortWorldWideName and npivNodeWorldWideName. Their type was and should be long[] but with the fix of issue #90 this became Long[].

[2015-06-12 14:04] michaelrice commented on #93
Hello @hubertverstraete what makes you think they should be `long[]` vs `Long[]`? The documentation for those properties have a \* next to them indicating "Need not be set"

[code]

The minOccurs=0 means it doesnt have to be set.

[2015-06-12 15:17] hubertverstraete commented on #93
Hi Mike

Well, first of all, this has always been an array of long in all versions
of vijava. So for the backward compatibility,  it should continue to be
like this.
Secondly, the "need not to be set" applies to the array. This means you can
have an array of long (new long [3]) or null.

Regards,
Hubert
Le 12 juin 2015 16:04, "Michael Rice" notifications@github.com a écrit :

[2015-06-12 15:23] michaelrice commented on #93
Hi @hubertverstraete

So then because this:

[code]

[2015-06-12 16:19] hubertverstraete commented on #93
I also looked at some arrays of int in vijava and they are really arrays of int not of Int.
Now, if yavijava is a drop in replacement for vijava, there's not much to discuss :)

[2015-06-12 19:47] michaelrice commented on #93
@hubertverstraete I have made the required changes to yavijava_generator and will run it again and replace the required files. I really appreciate your help finding these issues!

[2015-06-12 23:01] michaelrice commented on #93
I have cut a 6.0.01b3 release. You can get it here: https://github.com/yavijava/yavijava/releases/tag/6.0.01b3

[2015-06-12 23:02] #93 closed, assigned to nobody

[2015-06-15 08:27] hubertverstraete commented on #93
Thanks, this works.

[2015-06-15 17:09] michaelrice commented on #93
@hubertverstraete Thanks for the help finding and reporting this stuff!

[2015-06-18 06:54] michaelrice commented on #38
An issue was raised on the vijava forums about the SSL being a global disable. This fix may as well go along with this change. Post for reference: http://sourceforge.net/p/vijava/discussion/826592/thread/33f68590/

[2015-06-21 07:41] jayakody opened #102 "vSphere 6.0: "Exception caught while invoking method: RetrieveProperties" when running "HelloVM.java""
[code]

I'm geting following exceptions when trying to run "HelloVM.java" (https://raw.githubusercontent.com/yavijava/yavijava-samples/gradle/src/main/java/samples/HelloVM.java) example against vSphere6.0. I was able to successfully run against vSphere5.5 so I'm assuming this may be related to vSphere version 6.0.

Following is the stack trace. Looks like it's coming while executing following line

[2015-06-21 15:19] michaelrice commented on #102
Hello Don,

Can you please enable trace level logging and paste the output? That will
contain ALL the XML going to and coming from the server which I can use to
write a test to help me fix/troubleshoot the issue. Thanks!

-mike
On Jun 21, 2015 2:41 AM, "Don Jayakody" notifications@github.com wrote:

[2015-06-21 17:42] jayakody commented on #102
Thanks for the quick reply Michael. Following is the trace level logs. Please let me know if you need any more info from my side.
p.s: Thanks a lot for contributing and keeping vijava alive!. Enhancements you made were definitely invaluable.

[code]

[2015-06-21 19:51] michaelrice commented on #102
Would you mind trying the code currently in the vsphere_6 branch? I have added some new commits which included logging the XML coming from the server. It looks like I added that _after_ the b3 release so these logs you provided do not have those payloads I need in them.

For what its worth Im not seeing this issue on my vc6 server. I am running the VCSA GA release. I have a 5.0 HostSystem being ma

[2015-06-21 20:49] jayakody commented on #102
Thanks Michael. I ran it with the latest source code after compiling and got the payloads printed out through XmlGenDom class. Here's the full output:

[code]

Looks like the error is coming from the checksum part. After comparing both our runs looks like the error is generating from the "vmxConfigChecksum" parameter:

[code]

[2015-06-21 20:52] jayakody commented on #102
I also ran some other script that I had written which essentially tries to add a Distributed vSwitch to the vCenter. And it failed during this checksome string as well. Here's the brief output of that run

[code]

In this case error was due to the "scriptCheckSum" value. Not sure what's happening here. My environment has vSphere 6.0 (Server appliance with embedded platform controller), but I also

[2015-06-21 22:36] michaelrice commented on #102
This is one of the new datatypes base64binary that was added back in 5.1 I think but not many if any fields were using it. Im going to have to write a few tests to see whats going on. I found a blog post on Mr. Jins website [mentioning he never added support to the parser](http://www.doublecloud.org/2012/09/announcing-public-beta-of-vi-java-api-5-1-supporting-vsphere-5-1/) for this type and if tha

[2015-06-22 00:13] jayakody commented on #102
Yeah looks like you narrowed down the issue. It definitely looks like this issue is related to the "base64Binary" type. And it makes sense because in my environments I have Distributed Virtual Switches and all my virtual machines are attached to DVportgroups.

I'm still not clear on why we didn't see it on 5.5. I did have DVSwitch configs in my environments and this wasn't an issue. Looks like VMw

[2015-06-22 02:13] michaelrice commented on #102
The types causing you the problems right now are new fields in 6.0 The `scriptCheckSum` is new in 6.0 for HostSystem.config and the `vmxConfigChecksum` is new for VirtualMachine.config

Ill get it fixed up. The strange thing to me is that my environment is not having these issues, but maybe its due to my HostSystem being 5.0 or something.. At least I have your payloads now though and I can write s

[2015-06-22 05:01] michaelrice commented on #102
Notes:

This problem is isolated to the following:

[code]

I have a patch ready..
1. It no longer fails to parse.
2. It does introduce a new dependency (commons-codec:commons-codec:1.10)
3. I have no idea if its parsing into the correct info because when I decode the value being returned by the API it is not something that makes any sense to me..

Im not going to push the patch up yet because it

[2015-06-22 07:00] michaelrice commented on #102
Update:

Additional tests show that my initial patch does indeed break existing byte[] This makes me think the best way to solve this is to add a new data type to the parser. This seems like the best route because there was only 1 base64binary field before 6.0 and it couldnt have ever worked properly anyway. It will take a few days for me to add it due to time constraints at work. As a work around

[2015-06-22 07:04] jayakody commented on #102
Thanks for the update Michael. Do let me know when you have something ready. I'll verify from my end as well.

Thanks a lot for looking in to this issue.

[2015-06-22 09:56] michaelrice commented on #102
@jayakody I have found a solution and was able to get some tests written and passing with out needing to add any new requirements. Ive merged those changes into vsphere_6 branch. Please let me know if this fixes your issues.

[2015-06-22 20:08] jayakody commented on #102
Hi Michael, I just got done running my whole automation suite with vSphere 6.0 with your fix. It works like a charm. I think this branch is definitely ready for GA now.

Thanks a lot for your efforts. It has been fabulous to say the least !

[2015-06-22 20:19] michaelrice commented on #102
@jayakody  This is fantastic news! Thank you so much for your feedback. I think I will cut an RC release and give folks a little more time to test it just to be sure.

[2015-06-29 07:02] #39 closed, assigned to michaelrice

[2015-06-29 07:02] #102 closed, assigned to michaelrice

[2015-07-06 14:35] gaduimovich commented on #34
Add this block of code to build.gradle it will turn of Java 8's super-strict doclint tool

[code]

[2015-07-06 16:35] michaelrice commented on #34
Thanks @gaduimovich Ill give that a try.

[2015-07-08 15:06] BigBeaule commented on #38
Hello,

The current fix is correcting the security issue, but not the reuse issue. Each time a request is sent, a new handshaking occurs which really impact the performance if you do a lot of them (around 4 time slower).

You are reusing the SSLContext but not the SSLSocketFactory which is the important part to use the fast handshaking. Saving the SSLSocketFactory in the constructor and reusing it

[2015-07-08 16:32] michaelrice commented on #38
Cool thanks for pointing this out. I'll take another stab at it unless you would like to send a pull request.

[2015-07-08 20:43] gaduimovich opened #110 "CacheInstance() get method returns null since cache fails to populate due to depriciated method"
This is the snippet of code I am using. If your wondering vm[0] is populated and this is a VCenter 6 setup.

[code]

A Null Pointer Exception Occurs at the ManagedObjectWatcher line 118

[code]

Line 118 happens to be a Deprecated. as of SDK4.1 therefore fails to populate

[code]

[2015-07-08 21:56] michaelrice commented on #110
Interesting. Ive honestly never used this part of the code before. Ill see if I can get some tests written around this and get them passing.

Is this an issue that worked on some previous version of vijava that fails on yavijava? Also what version of yavijava are you using?

[2015-07-08 22:39] gaduimovich commented on #110
I'm using the 6.0.0.1 release. I attempted as well the Orginal 5.5 vijava binary and it failed as well due to the same reason.

Edit: closed by accident

[2015-07-08 22:53] michaelrice commented on #110
Cool. Ive been meaning to update things to use the newer methods. Ill get some functional tests written and get them passing. Thanks for reporting!

[2015-07-09 14:59] gaduimovich commented on #110
Interesting enough there was a closed bug report from vijava 5.1 that has the same problem with cache instance.

http://sourceforge.net/p/vijava/bugs/152/

I think that's why ManagedObjectReference not implement equals() and hashCode() method fails to get
the object, because MOR is key of ConcurrentHashMap that is member of ManagedObjectCache named 'items'."

[2015-07-09 19:19] gaduimovich commented on #110
Attempted using the replacement of waitForUpdates in ManagedObjectWatcher

[code]

This still gives me a Null Pointer but more information

[code]

Null from the server doesn't sound good

[2015-07-09 19:41] michaelrice commented on #110
So I found in the source where the equals and hashCode were added, then Mr Jin did a "major refactor" according to the commit messages and it was gone after that. Maybe an oversight? I can add that back I guess.. I dont see any harm in having it

[2015-07-09 19:42] michaelrice commented on #110
Do you have TRACE logging on com.vmware enabled where you can get the XML coming from and going to the server?

[2015-07-09 19:46] gaduimovich commented on #110
How would I do that? Currently I just run
    BasicConfigurator.configure();

[2015-07-09 19:52] michaelrice commented on #110
Here is how I do it: https://github.com/yavijava/hello_world_yavijava/blob/master/src/main/resources/log4j.properties

Obviously replacing `info` with `trace`

[2015-07-09 20:14] gaduimovich commented on #110
https://gist.github.com/gaduimovich/ec5efa055ee39083c4a3

Here is the full trace.

[2015-07-09 20:27] gaduimovich commented on #110
https://gist.github.com/gaduimovich/8f37600679d102dec5ad

Here's the full trace.

[2015-07-10 02:17] aaron-brown opened #112 "Add Relevant Messages to Faults"
@michaelrice, it's been a huge bugbear of mine that VIJAVA always produced this kind of messaging when logging any of the Faults that occurred:

[code]

This is because (to my knowledge) _all_ of the faults don't actually set a message ([**NoPermission**](https://github.com/yavijava/yavijava/blob/6.0.01rc1/src/main/java/com/vmware/vim25/NoPermission.java) as an example; `message` (neither in **NoP

[2015-07-10 02:21] aaron-brown commented on #112
I'd be happy to handle some of these if we can come up with something reasonable and maintainable to implement this.

[2015-07-10 03:03] michaelrice commented on #112
Can you give me an example of something I can do to cause this fault?

[2015-07-10 03:15] michaelrice commented on #112
Also Im a little lost on what your logging that is "null" Faults are all parsed into a generic `SoapFaultException` in the XmlGenDom.java file. When you look at that file you will see a property called `faultString` So in the case of a `NotAuthenticated` being thrown (which extends NoPermission) you would access the actual message from the server by doing

[code]

[2015-07-10 03:18] aaron-brown commented on #112
For **NoPermission** in particular, you just have to perform an action that the Account you used to make the **ServiceInstance** does not have the permission for.

I think there is even a permission you can disable so that creating a **ServiceInstance** is impossible and which will cause **NoPermission** to be thrown. I believe it might be like `window.view` or something like that. Not sure off th

[2015-07-10 03:30] michaelrice commented on #112
I guess I just dont understand what youre wanting here. You indicate logging faults causes a null. What is null about it? There is no property `message` on the fault; the message coming from the server is stored in `faultString` so is it possible you are just logging the wrong thing?

[2015-07-10 03:51] aaron-brown commented on #112
They way that the output occurs is similar to the way you have put it:

[code]

In this example, log4j (which I'm assuming is used) will automatically print the `message` of the Exception, as well as the stacktrace. My example differs from your example because it is trying to provide context relevant to an application, and letting the log4j handle putting the Exception context into place, whereas

[2015-07-10 04:28] michaelrice commented on #112
Wait I appear to be wrong here. There is even more parsing  (Thanks to reflection) of the SoapFaultException later and only the `detail` from the SFE is converted (via reflection) into the vmware fault. So the `faultString` which seems to contain a message from the server that seems fitting to go in `faultMessage` or `detailMessage` looks like its being eaten and never passed along because its not

[2015-07-10 15:54] gaduimovich commented on #110
Check your err-online email

[2015-07-16 22:18] alawrenc opened #115 "Commit "Refactor TrustAllSSL and WSClient to fix security" breaking connections using IP address"
Since this change we're now seeing errors when connecting using IP address. Even after `postCon.setSSLSocketFactory(...)`, I'm seeing `postCon.hostnameVerifier` set to `javax.net.ssl.HttpsURLConnection$DefaultHostnameVerifier` instead of the expected non-verifying version.
`Caused by: javax.net.ssl.SSLHandshakeException: java.security.cert.CertificateException: No subject alternative names matchin

[2015-07-16 22:26] michaelrice commented on #115
@alawrenc The integration tests we currently have should show that if you just edit this file https://github.com/yavijava/yavijava/blob/gradle/src/intTest/java/VcenterInfo.properties to use your vcenter. As you can see I do run these with an IP and have not seen an issue..

[2015-07-16 22:29] michaelrice commented on #115
One thing to note though.. If you took advantage of the broken nature of how the lib worked before it globally trusted everything once you set the ignore ssl to true so any connection you made to anything else was trusted.. That is no longer the case as shown by [this test](https://github.com/yavijava/yavijava/blob/gradle/src/intTest/java/com/vmware/vim25/ws/WSClientIntTest.java#L58)

[2015-07-16 22:32] michaelrice commented on #115
I will be around today and tomorrow to help solve this, and then Ill be offline for about a week. Keep me posted :)

[2015-07-16 22:39] atokasema commented on #57
I got some time to debug it and I was able to root cause the issue.
vSphere 6 SDK added a new filed called "vmxConfigChecksum" of type base64Binary in VirtualMachineConfigInfo data object. The code generator is converting this base64Binary to byte array  but when we get this value in soap response, it is coming as a single value like string and not an array of values. The marshaling is trying to c

[2015-07-16 22:42] atokasema opened #116 "VirtaulMachine.getConfig() is throwing NumberFormatException"
vSphere 6 SDK added a new filed called "vmxConfigChecksum" of type base64Binary in VirtualMachineConfigInfo data object. The code generator is converting this base64Binary to byte array but when we get this value in soap response, it is coming as a single value like string and not an array of values. The marshaling is trying to convert the whole base64Binary value to one byte and its throwing erro

[2015-07-16 22:43] alawrenc commented on #115
Putting in my host credentials reliably reproduces the problem with the integration test. Not sure how our host would be configured differently. I'm very suspicious that the hostnameVerifier is not being set properly on the pre-existing connection. If I run the test in my project that exposed this and re-attempt the connection, it succeeds on the second attempt. Running with a rebuilt version of y

[2015-07-16 23:12] atokasema commented on #116
Looks like the issue already exists.

[2015-07-16 23:12] #116 closed, assigned to nobody

[2015-07-17 02:29] michaelrice commented on #115
Can you provide me with any steps to reproduce this? If not can you provide me the `trace` level logs? I have a 5.5, 5.1, and 6.0 environment that I am completely unable to reproduce your issue with. I have tried using the IP, and DNS name.  I am using [simdeplower](https://pypi.python.org/pypi/simdeplower) to deploy my 5.5 environments in simulator mode. It would be really helpful if we could rep

[2015-07-17 04:07] alawrenc commented on #115
The problem server happens to be 5.0 still. Potentially related? I'll go ahead and try to replicate with a simulator first thing tomorrow and let you know how it goes. Also, sent a trace level log to the email listed on your account. (Really github? No way to attach logs to an issue?)

[2015-07-17 04:35] michaelrice commented on #115
You cant attach files to issues, but you can paste them. I suggest surrounding the content with 3 back ticks. When you do paste the trace level stuff it has EVERYTHING in them so be sure to take care to remove any sensitive data you may have such as user names or passwords or public ip addresses you dont wish to expose.

Its very unlikely to be related to 5.0

Its _very_ strange that in the logs i

[2015-07-17 04:38] michaelrice commented on #115
I think it might help to know what version of java youre using too, and the platform. Windows, Linux, Mac etc.. That will allow me to make sure there are no known issues with these SSL things on that version.

Its strange the patch you posted works for you because in `TrustAllSSL.getTrustContext().getSocketFactory()` it does that already and when I set break points and step through this in a debug

[2015-07-17 14:26] alawrenc commented on #115
The output is from the integration tests. I'm running Java 7 and hit the issue on Windows and OS X (separate physical machines). I also see the default hostname verifier get set in `getTrustContext()` but it does not appear to affect the already created connection on my system. Reverse DNS is not setup for the host that fails. Trying this with a different vCenter that does have reverse DNS setup w

[2015-07-17 15:35] michaelrice commented on #115
@alawrenc what do you mean by `the already created connection on my system` This may be where the problem is. How would I recreate this?

Also if you are on OSX and have Fusion [simdeplower](https://pypi.python.org/pypi/simdeplower) will work for you. I use a MacBook Pro and all you need to run the VCSA in simulator mode is at least 8G of RAM. If you dont have Fusion you can download it and it wil

[2015-07-17 16:19] alawrenc commented on #115
I'm looking at the connection created on L121 of WSClient. L123 gets executed (including setting the DefaultHostVerifier), but it does not modify the HostVerifier instance associated with `postCon`.
I'm on OS X and trying out simdeplower now. I have to go through IT to get the 5.0 VCSA files which is the hold up right now.

[2015-07-17 16:24] michaelrice commented on #115
5.0 does not have simulator. You need 5.1 and preferably 5.5

-mike
On Jul 17, 2015 11:19 AM, "Andrew Lawrence" notifications@github.com
wrote:

[2015-07-18 06:33] michaelrice commented on #115
Hey @alawrenc I just wanted to let you know ill be offline for about a week so wont be responding to any updates etc..

Just some quick notes before I sign off.

Your suggested change is accessing a static variable from an instance method, so the right way to do it would be to do it the way its already being done in the TrustAllSSL class. Even when I apply your suggested fix and run through my deb

[2015-08-12 12:48] yugansh20 opened #121 "exception:org.dom4j.DocumentException: Error on line 1 of document : Content is not allowed in prolog. Nested exception: Content is not allowed in prolog."
Hi,

I am trying to get some ESX server info and getting this exception for some servers while logging in.

---------------Stack Trace----------------------
 Failed with  VI SDK invoke exception:-Org.d...
 Failed with  VI SDK invoke exception:org.dom4j.DocumentException: Error on line 1 of document  : Content is not allowed in prolog. Nested exception: Content is not allowed in prolog.
java.rmi.Re

[2015-08-13 00:13] michaelrice commented on #121
Hello @yugansh20 can you upgrade to the current 6.x release and enable debug logging and provide that output for us? Please take care to remove any passwords from the XML before you share that output with us.

[2015-08-17 10:39] asdubey80 opened #123 "Performance degraded with yavijava 6.0."
Hi,

We manage dvSwitch by taking its configuration backup and deploying changes.
We do configuration backup by running lot of queries. With vijava the whole operation of backup was taking 6 seconds and when we change to yavijava 6.0.01 jar , the same operation took 9 minutes.
I will try to summarize what exactly we do to take configuration backup of DVSwitch.

[code]

The above given are some met

[2015-08-19 06:01] michaelrice commented on #123
Can you enable debug logging and provide the output? Please note that debug logging will also log the passwords in plain text so be sure to remove them before you post the logs.

[2015-08-19 06:11] michaelrice commented on #123
Can you also provide me with a working sample that shows the problem you are having? Something as basic as this: https://github.com/yavijava/hello_world_yavijava That way I can profile it with both vijava 5.5 beta, and yavijava 6.0.1

[2015-08-21 12:40] zimnytunczyk opened #125 "DocumentException: null Nested exception: null for "void" methods"
I tried few void methods like HostStorageSystem#refreshStorageSystem() or HostStorageSystem#rescanAllHba(). They ends up with exception because unMarshall try to process null. I've tested with ESXi 5.5.0.

Exception in thread "main" java.rmi.RemoteException: VI SDK invoke exception:org.dom4j.DocumentException: null Nested exception: null
    at com.vmware.vim25.ws.XmlGenDom.fromXML(XmlGenDom.java:

[2015-08-21 13:47] michaelrice commented on #125
Hello @zimnytunczyk can you check this out: [help me help you](https://github.com/yavijava/yavijava/wiki/How-to-submit-bug-reports#help-me-help-you)

[2015-08-21 14:43] zimnytunczyk commented on #125
Not an issue. I turn on DEBUG logs and find out SocketTimeoutException. That's why response was null. I set bigger ReadTimeout (ServiceInstance#getServerConnection().getVimService().getWsc().setReadTimeout()) and it works great.

2015-08-21 16:35:12,103 DEBUG  [WSClient] Caught an IOException. Reading ErrorStream for results.
java.net.SocketTimeoutException: Read timed out
    at java.net.SocketIn

[2015-08-21 14:43] #125 closed, assigned to nobody

[2015-08-21 15:06] michaelrice commented on #125
I feel like we should bubble that exception up in a RemoteException. Im going to open an issue related to this.

Would you say steps to reproduce are:
1. make call to any method that causes a timeout before the return happen
2. cause a socket timeout to happen
3. attempt to parse null body

?

[2015-08-21 15:11] zimnytunczyk commented on #125
Below is full stack trace. As you can see first exception was logged with DEBUG. I reproduce this because I type 10 instead of 10000 (10 seconds) in ServiceInstance#getServerConnection().getVimService().getWsc().setReadTimeout().

2015-08-21 16:35:12,103 DEBUG  [WSClient] Caught an IOException. Reading ErrorStream for results.
java.net.SocketTimeoutException: Read timed out
    at java.net.SocketI

[2015-08-24 05:02] vThinkBeyondVM opened #127 "Need help on "ServiceInstance" ignoreCert parameter."
I am not sure if this the right place to ask this question.

ServiceInstance si = new ServiceInstance(new URL(
                "https://10.10.1.2./sdk"), "administrator@vsphere.local",
                "Administrator!23", true);

As you could see in above code, ServiceInstance constructor takes third parameter as "ignoreCert" and I have set it as "TRUE". Now I would like to make my code work when I

[2015-08-24 06:16] michaelrice commented on #127
Setting it to false has nothing to do with the actual code base, so I cant provide a sample for you. You need to import your cert into your keystore if its not provided by a trusted CA, I would suggest using a trusted CA if you can, but if you have to use self signed, or something your internal company handles, then you are stuck having to import the cert into your keystore.

Good luck!

[2015-08-24 06:16] #127 closed, assigned to nobody

[2015-08-24 06:17] michaelrice commented on #127
Here is a link that may help you http://stackoverflow.com/questions/11617210/how-to-properly-import-a-selfsigned-certificate-into-java-keystore-that-is-avail

[2015-08-24 10:39] vThinkBeyondVM opened #128 "Exception caught trying to invoke method RetrieveServiceContent : works with VI JAVA but NOT with YA VIJAVA"
Hi YA VIJAVA users,

Today I deployed latest YA VIJAVA in my Maven project. My program renames the VM in the VC inventory.

When I run my program I get this error on VC 6.0

Exception in thread "main" java.rmi.RemoteException: Exception caught trying to invoke method RetrieveServiceContent; nested exception is:
    javax.net.ssl.SSLHandshakeException: java.security.cert.CertificateException: No su

[2015-08-24 10:42] vThinkBeyondVM commented on #127
Thanks Michael for quick response.

[2015-08-24 13:33] asdubey80 commented on #123
I have downloaded jar file of vijava 6.0.01 and pointed pom.xml to use it.Updated pom.xml with log4j dependency Can you please tell me how can I enable debug logging here.

[2015-08-24 14:28] asdubey80 commented on #123
Following is the code snippet. We are calling following method to get configuration of dvSwitch.

[code]

[2015-08-24 14:35] michaelrice commented on #128
What does your `ServiceInstance` line use for the `ignoreCert` param?

[2015-08-24 14:36] michaelrice commented on #123
Hi @asdubey80 I have verified this as a bug and it is marked as a blocker for the next release. I have a fix pending in issue #124 please feel free to grab a copy of that code, build it and test to see if it fixes your problem.

[2015-08-25 07:28] asdubey80 commented on #123
Hey can you provide me the jar file please. I need to verify this fix and I am not able to build and create jar.
Thanks
Ashutosh

[2015-08-25 07:31] michaelrice commented on #123
All you need is java jdk and an internet connection. Simply run the gradle
build script.

-mike
On Aug 25, 2015 02:28, "asdubey80" notifications@github.com wrote:

[2015-08-25 07:36] michaelrice commented on #123
Here is what you would need to do:

[code]

If you are on Windows use `gradlew.bat build` instead.

This will build a jar file for you and place it in `build/libs/`

[2015-08-25 09:31] vThinkBeyondVM commented on #128
Hi Michael,

I use "TRUE" for ignoreCert.

[2015-08-25 10:11] asdubey80 commented on #123
Ok I try to build with steps provided by you. The build is failing.

oEx.java:55: warning - @return tag has no arguments.
34 warnings
:javadocJar
:sourcesJar
:signArchives FAILED

FAILURE: Build failed with an exception.
- What went wrong:
  Execution failed for task ':signArchives'.

- Try:
  Run with --stacktrace option to get the stack trace. Run with --info or --debug
  option to get more log

[2015-08-25 10:43] vThinkBeyondVM commented on #123
I was yesterday building latest jars using gradlew.bat, it was failing with exactly the same issue posted above. Now I have created Maven project and modified POM file with required dependencies, it is working fine.

[2015-08-25 13:10] michaelrice commented on #123
Please see this:
https://github.com/yavijava/yavijava/wiki/How-to-submit-bug-reports#help-me-help-you
On Aug 25, 2015 05:51, "Vikas Shitole" notifications@github.com wrote:

[2015-08-25 14:50] michaelrice commented on #123
I would like your java version, but I did add a change to the build file now that will only run the signing task if it is a production release, and I marked the version as a snapshot.

[2015-08-25 15:17] michaelrice commented on #128
Please see #115

Ive never been able to reproduce this, and we have tests that pass that check this issue. Read over the comments in #115 and see if you can help us come up with a way to reproduce this.

[2015-08-25 15:17] #128 closed, assigned to nobody

[2015-08-26 05:55] asdubey80 commented on #123
java version "1.7.0_65"

[2015-08-26 06:00] vThinkBeyondVM opened #129 "Building jars on windows fails with error: SignArchives FAILED."
Steps to reproduce
1. Downloaded zip file from here :https://github.com/yavijava/yavijava/releases
2. I am using Windows 7 machine to build the jar files.
3. Extracted the zip file and opened command line
4. cd to the the directory where gradlew.bat is available. (on windows command line console)
5. Executed "gradlew.bat build". It took around 7 min to build the jars.

Please refer the below snaps

[2015-08-26 06:11] asdubey80 commented on #123
Although build was failed but I found jar file in lib directory. i used this jar file and it worked. The time taken to snapshot dvSwitch is now in seconds 20 to 40 seconds as compare to 3 to 6 minutes.

[2015-08-26 06:31] vThinkBeyondVM commented on #129
I could see below jars in libs folder though

![image](https://cloud.githubusercontent.com/assets/13938550/9486826/bb8a2d3e-4be9-11e5-9c20-bfd7d3193c57.png).

And below files got created as well:

![image](https://cloud.githubusercontent.com/assets/13938550/9486850/ef8fab68-4be9-11e5-8750-2b32494e3f3a.png)

I did not try using these jars. I did not use as I have maven project with required YA VIJA

[2015-08-26 06:39] vThinkBeyondVM commented on #115
Here is some more observation on my testing :
1.  I had 2 VCSA with DHCP IPs.  I tried using DNS (FQDN) name instead of IP address and it worked fine.
2. I have another windows VC which is upgraded from 5.5 to 6.0 . On this VC, connection fails even with DNS (FQDN ) name. This VC has static IP and added to my own domain. This can be one of promising repro clues.

[2015-08-26 09:15] asdubey80 commented on #123
I think this issue is fixed. I verified performance and its improved. Without this fix the snapshot operation on dvSwitch 5.5 was taking about 9 minutes and now its taking 2 minutes 44 seconds. With vijava also its taking 2 min 44 seconds.

[2015-08-26 09:17] asdubey80 commented on #123
Thanks for your quick response. When you will be publishing this jar?

[2015-08-26 14:18] michaelrice commented on #123
@asdubey80 Now that the fix has been verified by you, I will go ahead and merge the code, then try to cut a release later today, or tomorrow.

[2015-08-26 14:22] #38 closed, assigned to michaelrice

[2015-08-26 14:22] #123 closed, assigned to nobody

[2015-08-27 05:31] michaelrice commented on #129
I have a fix I added with #124 but it may still be an issue. Im updating my windows box so I can test on Windows before I cut the next release.

[2015-08-27 05:38] asdubey80 commented on #123
So this release will be vijava-6.0.01 or 02? We are picking this jar from http://mvnrepository.com/artifact/com.toastcoders/yavijava/6.0.01 so is this updated jar will be available at same location?

[2015-08-27 05:48] michaelrice commented on #123
@asdubey80 It will be 6.0.02 I will have a release ready pretty soon. Someone opened an issue in #129 that I want to fix before the next release. I am currently updating my windows systems to test some changes I have that should fix the issue, but its going really slow because my only windows system is on a very old system.

[2015-08-27 06:44] michaelrice opened #130 "How do you get SSL thumbprint from vsphere server you are connected to"
Need to find a way to grab the SSL thumbprint from the vsphere server you are connected to. For example if I connect to vCenter at myvcsa.vsphere.local how can I access its SSL thumbprint, same for an ESX/i server if connected directly to it instead of a vCenter.

[2015-08-27 08:40] michaelrice commented on #129
Just some updates here before I head to bed for the night.
1. My fixes have been tested on Mac OSX & Linux and work fine
2. The fixes are currently in the Gradle Branch via #124
3. The testing being done is to manually edit the build.gradle file to change to 6.0.02 then run a build and see if the signing task runs. If it runs there is a bug still, if it does not run by doing a gradlew build it sho

[2015-08-27 08:47] michaelrice commented on #115
Hello @vThinkBeyondVM Thanks for joining this bug discussion. If you see the above comments I currently have tests in place for this exact scenario. Im wondering if you could provide me with the cert causing the problems?  If you would feel more comfortable sending it directly to me vs posting it on the internet I fully understand, if that is the case just send it to errr@errr-online.com

Thanks!

[2015-08-28 01:34] michaelrice commented on #129
This issue is confirmed fixed using the code in current gradle branch. I was never able to test on Windows 7, but on 2008 R2 SP1 it is no longer an issue. Ill cut a release and push it to public maven tonight. Once its been pushed it takes up to 12 hours to sync to various maven mirrors.

[2015-08-28 01:34] #129 closed, assigned to nobody

[2015-08-28 04:43] vThinkBeyondVM commented on #115
I am not using any custom certificates for any of my vCenters.  All VCs have default self signed certificate that come with VC installation. Do you want me to provide those default certs?

[2015-08-31 05:25] vThinkBeyondVM commented on #115
Hi Michael,

As per my last comment, let me know if you want me to provide default VC certs?

[2015-09-02 02:55] sharninder commented on #130
Does this work: http://www.virtuallyghetto.com/2012/04/extracting-ssl-thumbprint-from-esxi.html

I've used this method in the past for some projects.

[2015-09-03 05:50] yugansh20 commented on #121
Here are the logs -

 TRACE WSClient:69 - Creating WSClient to server URL: https://xyz/sdk
 TRACE WSClient:70 - Ignore ssl: true
 TRACE WSClient:89 - Invoking method: RetrieveServiceContent
 TRACE SoapClient:190 - Marshalled Payload String xml: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenv="http://schemas.xmlsoap.org

[2015-09-08 08:26] vThinkBeyondVM opened #136 "is 6.0.03 available on the Maven repository ?"
Hi Michael,

I just got your update on new version 6.0.03. I was checking in Maven central directory for the same here:http://mvnrepository.com/artifact/com.toastcoders/yavijava   but could not find the new entry.

Can you please let me know when it will be available on Maven so that I can update my project by adding this change in dependencies.?

[2015-09-08 16:29] michaelrice commented on #136
Hello @vThinkBeyondVM

The way maven releases work is that you push to sonatype which houses maven central. You have to first push to staging, once a package gets marked in staging as "release" there is a sync that takes place moving the package from sonatype staging to sonatype release. They claim this process can take up to 12 hours. Once it is in sonatype release it is available in maven centra

[2015-09-08 16:29] #136 closed, assigned to nobody

[2015-09-09 03:32] vThinkBeyondVM commented on #136
OK. Got it. Thanks for your input.

[2015-09-10 07:57] michaelrice opened #138 "dom4j must go"
![image of doge](http://i.imgur.com/GAUgw0z.jpg)

[2015-09-10 07:58] michaelrice commented on #138
Replace dom4j based parser with a streaming markup parser. This should massively reduce memory and increase speed when dealing with large payloads.

[2015-09-10 08:00] michaelrice commented on #138
Hey @scottmlaplante Do you happen to have any input on how I should implement this? Any preferences or requests before I get started on this? Im planning on taking 10 days off soon and Im going to implement this while Im off. I should be starting my vacation on or around the 20th

[2015-09-10 08:02] michaelrice commented on #138
Hey @budjb and @aaron-brown Please see above. If you have any input or requests please try to let me know before the 20th

[2015-09-13 16:41] scottmlaplante commented on #138
Sorry for the last response @michaelrice. I had a few thoughts on a streaming parser vs dom4j:
- Are you able to implement in a way where either parsing strategy can be used? It would allow us to compare both approaches.
- I’m interested in the performance impact of the streaming parser method vs dom4j. What will the impact be on speed since the entire document isn’t loaded into memory anymore? I

[2015-09-22 12:04] yugansh20 commented on #121
I have tried it with 6.x release and facing same problem

[2015-09-22 22:23] alawrenc opened #144 "TrustAllSSL.getTrustContext() not thread-safe"
Hi Michael,

We discovered during product testing that opening connections to multiple vCenters very rapidly could cause a NPE on line 209 of WSClient.java. I haven't been able to reproduce it with a unit test, but adding a call to TrustAllSSL.getTrustContext() in a static initialization block prior to other usages of TrustAllSSL resolved the issue. From a quick code read, it appears possible to h

[2015-09-26 17:26] myelaman opened #145 "service instance initialisation using session cookie returns null"
public VSphereClient(String vCenterURL,
            String sessionStr) throws RemoteException, MalformedURLException {
        _logger.info("vCenterUrl adn Session Strings are" + vCenterURL
                + " " + sessionStr);
        String session = "vmware_soap_session=\"" + sessionStr + "\"";
        si = new ServiceInstance(new URL(vCenterURL), session, true);
    }

si throws a null pointer

[2015-09-28 18:47] myelaman commented on #145
could you please comment on this issue

[2015-09-28 19:38] michaelrice commented on #145
Thanks for submitting the issue.

[2015-10-18 20:13] #145 closed, assigned to nobody

[2015-10-18 20:14] michaelrice commented on #145
This is not a bug. Please see #147 which adds a successful test showing this.

[2015-10-20 13:39] asdubey80 opened #148 "Error while adding VLAN to dvPortGroup.dvSwitch is on 5.5 and Vcenter is 6.0."
We are trying to first create a dvPortGroup and then reconfigure dvPortGroup to add VLAN to its settings. We are getting following error

DistributedVirtualPortgroup.reconfigureDVPortgroup_Task()
TaskInfo.getState() = error

"The configurations of the objects are in conflict"

If I go and see Vcenter I get some more detail error.

"Link Aggregation Control Protocol group configured on dvSwitch-Cus

[2015-10-25 05:44] michaelrice commented on #130
Closed by #146

[2015-10-25 05:44] #130 closed, assigned to nobody

[2015-10-29 07:26] minglight opened #149 "Will "Tag" be support in yavijava ?"
How do I set the tag value to some category, now I only see the getter of the VirtualMachine.

[2015-10-29 15:18] michaelrice commented on #149
I'm not sure what you're talking about. Can you point to the soap docs that cover the managed object and property you are talking about?

Sent from my iPhone

[2015-11-11 18:00] monosoul commented on #149
@michaelrice He's talking about that: https://pubs.vmware.com/vsphere-60/index.jsp?topic=%2Fcom.vmware.vapi.progguide.doc%2FGUID-4A66C533-B6EA-4B29-90B6-3353B6D3B5FE.html

If you'll look [here](https://pubs.vmware.com/vsphere-60/index.jsp#com.vmware.vapi.progguide.doc/GUID-73DE3B89-ACB7-4577-8DB1-E7F18BA88212.html) it'd be clear why there is no tagging functionality.
"vSphere has a tagging feature

[2015-11-11 19:12] michaelrice commented on #149
I do not have this API on my roadmap but would be willing to add support for it. Its something if I were to do it would require someone to sponsor the development of it.

[2015-11-12 05:55] monosoul opened #150 "Exception in vim25.ws.XmlGenDom.fromXml while querying performance metrics"
Hi! Today I've faced issue with sample GetMultiPerf:
start:Sun Nov 08 10:43:39 YEKT 2015
end:Mon Nov 09 10:43:39 YEKT 2015
Exception in thread "main" com.vmware.vim25.InvalidArgument
        at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)

[code]

Java version is: 1.8.0u60
vSphere is: 5.5 u2
yavijava is: 5.5.11
Any help would be greatly appreciated.

[2015-11-12 06:13] monosoul commented on #150
Same story with yavijava 6.0.03:
[main] ERROR com.vmware.vim25.ws.WSClient - Exception caught while invoking method: QueryPerfComposite
Exception in thread "main" com.vmware.vim25.NotSupported
        at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)

[code]

[2015-11-12 07:52] michaelrice commented on #150
It will help if you provide a minimal sample I can run that will reproduce this issue

[2015-11-12 08:07] monosoul commented on #150
@michaelrice Basically I'm just trying to run this example: https://github.com/yavijava/yavijava-samples/blob/gradle/src/main/java/samples/perf/GetMultiPerf.java . Everything compiles OK, but when I'm trying to run it - I'm getting an exception.
I'm trying to run it like this:
java -jar .\<jar-packaged-with-dependencies.jar> "<vSphere SDK url>" <username> <password> <vmname>

[2015-11-13 01:53] monosoul commented on #150
@michaelrice So, were you able to reproduce the issue?

[2015-11-14 13:57] julian-waibel opened #151 "Not Java 1.6. compatible but stated"
On http://www.yavijava.com/ is stated, that the build performed via gradle is java 1.6 compatible:
"A JDK is required to build the jar, but gradle is not. The jar will be built with Java 1.6 compatibility."

However the class com/vmware/vim25/ws/VimStub.java is catching a ReflectiveOperationException in line 75, which is only available since Java 1.7:
http://docs.oracle.com/javase/7/docs/api/java/

[2015-11-15 17:48] michaelrice commented on #150
@monosoul Its going to take a little while before I have time to look into it much further. Im trying to set aside time in a couple weeks to do some more work on this project.

[2015-11-15 18:04] monosoul commented on #150
@michaelrice Got it, take your time. I'm on a vacation now anyway, so won't be able to investigate this problem any deeper in a couple of weeks. Thanks in advance for your efforts!

[2015-11-18 05:53] nagababumca opened #152 "ManagedEntity Array is returning null"
ServiceInstance si=getServiceInstance();
      Folder rootFolder = si.getRootFolder();
 ManagedEntity[] datastores = new InventoryNavigator( rootFolder ).searchManagedEntities("Datastore");

in case of yaviaja, datastore array is coming null.  in6.0 vsphere environment
if i use vijava, datastore array is returning the list of data stores.  in 5.5 vsphere environment

but code is not changed and it

[2015-11-19 17:05] michaelrice commented on #152
Hello @nagababumca please read this page: https://github.com/yavijava/yavijava/wiki/How-to-submit-bug-reports#help-me-help-you and if you could update this bug report after.

[2015-11-30 07:09] monosoul commented on #150
@michaelrice Hi! Any news? Could I help you to troubleshoot this issue somehow?

[2015-11-30 16:49] michaelrice commented on #150
Can you enable trace logging and provide me with the logs? Here is a sample I created that uses log4j logging if you are unsure how to enable it: https://github.com/yavijava/yavijava_cluster_prop_example

[2015-12-01 06:21] monosoul commented on #150
@michaelrice Here you go: http://pastebin.com/TASy8gwv

[2015-12-01 18:58] michaelrice commented on #150
Hi @monosoul can you provide the exact code you are using, and details about what youre hitting, for example a vcenter (and its version) or are you hitting an esx/i host directly? (and its version)

It says you are getting a not supported exception so this indicates what youre trying to do isnt supported on the platform..

[2015-12-02 05:50] monosoul commented on #150
Hi @michaelrice
Here is an exact code: https://github.com/monosoul/vmware-test
I'm hitting vCenter, version is 5.5 u2.

[2015-12-02 16:52] michaelrice commented on #150
Hi @monosoul what version of the lib is the debug logging from? It is missing the payloads coming from the server. There should be a log line that says: `XML Document:` and the raw XML payload coming from the server should be in that. (See [here](https://github.com/yavijava/yavijava/blob/gradle/src/main/java/com/vmware/vim25/ws/XmlGenDom.java#L82))

[2015-12-02 18:18] monosoul commented on #150
@michaelrice version of what lib? yavijava? If yes - then it's 6.0.03. I guess there's no debug output because "debug" isn't enabled for com.vmware in https://github.com/monosoul/vmware-test/blob/master/src/main/resources/log4j.properties . Am I right?

[2015-12-02 20:03] michaelrice commented on #150
@monosoul you have `trace` enabled and the source has a line `log.trace("XML Document: " + doc.asXML());` and since your output doesnt have that line you must not be using 6.0.03

[2015-12-02 20:21] monosoul commented on #150
@michaelrice I'm pretty sure I was using 6.0.03. Take a look at pom.xml in sources I've provided earlier. There is dependency of yavijava of version 6.0.03 which is downloaded automatically by maven from maven repo during project compilation.

[2015-12-02 20:35] michaelrice commented on #150
@monosoul I dont know what to say.. That line has been in the code since Jun 2015 which was 3 months before the 6.0.03 release. Possibly you have multiple versions of the library in your class path and its picking up the wrong one when running the sample?

[2015-12-02 20:42] monosoul commented on #150
@michaelrice maybe you're right. I'll check it tomorrow and let you know.

[2015-12-02 21:17] michaelrice commented on #150
Here is the output I get when I run your sample on my lab:

[code]

As you can see it still doesnt work, but its because of an invalid argument.. But this output does at least contain all the XML responses from the server

[2015-12-02 21:21] michaelrice commented on #150
FYI, My error is being cause by my use of the vCenter Simulator. I do not have an actual vCenter I can test this on right now.

[2015-12-03 05:42] monosoul commented on #150
@michaelrice hi!
Edit: Ah, indeed, looks like I was using 5.5.11. Here is new log: http://pastebin.com/YUFkLdrB

[2016-01-04 14:42] kbrowder opened #153 "java.lang.IllegalAccessException: Class com.vmware.vim25.ws.XmlGenDom can not access a member of class java.util.Calendar with modifiers "protected""
So I have a jetty webapp that tries to login to vsphere and it gets the following error:

[code]

sorry no trace yet, I'll try and make one soon (or if I figure out the issue I'll file a MR).  Anyways I'm using the latest version of yavijava deployed to central (although older versions seem to have this problem as well) and JDK 7 and JDK8.  Again I'm running in jetty which i suppose could be the i

[2016-01-04 16:41] michaelrice commented on #153
Please keep me posted on this. I have never run this lib on a jetty system, only tomcat, and have never run into this issue. Logs, and a full stacktrace would help too.

[2016-02-01 06:51] asdubey80 commented on #148
Hi ,

Is there any update on this issue?

[2016-02-01 09:49] Shuchi05 opened #154 "Using SSL certificates with YAVIJava"
Hi,

I am trying to implement the certificate handling with the YAVIJava. I am doing the following:
- Update the host certificate in the local keystore
- System.setProperty("javax.net.ssl.trustStore", storePath)
- call ServiceInstance(serverIP, username, password, false)

I am getting the following error :
    javax.net.ssl.SSLException: java.lang.RuntimeException: Unexpected error: java.security.

[2016-02-01 17:59] michaelrice commented on #154
You might take a look at this: http://stackoverflow.com/questions/4764611/java-security-invalidalgorithmparameterexception-the-trustanchors-parameter-mus

good luck.

[2016-02-01 17:59] #154 closed, assigned to nobody

[2016-03-05 09:00] zhenmie365 commented on #8
It came out one error "com.vmware.vim25.SecurityError" when I run the method pbmSi.getProfileManager().pbmFetchResourceType() in the SpbmTest.
But It's ok when I run psic.getAboutInfo() to get the infos.Why?
Env:use yavijava-6.0.01b1.jar from https://github.com/atokasema/yavijava/tree/spbm_client_changes in vsphere 6.0.
Thanks!

[2016-03-17 07:28] babyachievement opened #156 "ClassNotFoundException: com.vmware.vim25.PerfCounterInfoInt"
Hi, I use yavijava to connect vcenter 6.0.0 , When I invoke getPerfCounter method in PerformanceManager to get Performance metric value it gets the following error:

`
java.lang.ClassNotFoundException: com.vmware.vim25.PerfCounterInfoInt
    at java.net.URLClassLoader$1.run(URLClassLoader.java:366)
    at java.net.URLClassLoader$1.run(URLClassLoader.java:355)
    at java.security.AccessController.

[2016-03-17 20:30] michaelrice commented on #156
Hi,

Can you provide the minimal amount of code I would need to recreate this issue?

[2016-03-18 01:43] babyachievement commented on #156
Hi, following is the the code.

[code]

[2016-03-21 08:23] michaelrice commented on #156
So I've been looking through the API docs and I do not seem to find this `PerfCounterInfoInt` class so it makes sense its not found.. Im really curious as to why the vCenter would be returning a response body with an invalid class in it. Can you enable TRACE logging and provide me the xml response that has the PerfCounterInfoInt object in it? Please note when you have TRACE logging enabled it will

[2016-03-24 09:03] babyachievement commented on #156
@michaelrice , very sorry for replying you so late.
Here is the trace log.

[code]

[2016-04-01 02:02] cnc3 opened #158 "Cannot cast ManagedEntity to VirtualApp"
When trying to walk back to the Datacenter from a VirtualMachine when the VirtualMachine is part of a VApp the getParentVApp() method appears to be returning a ManagedEntity and not a VirtualApp sub-class. Attempting to cast a ManagedEntity to a VirtualApp fails. This makes the getParentFolder() method of VirtualApp unavailable. getParent() works off the ManagedEntity but takes the resource pool/h

[2016-04-04 15:16] michaelrice commented on #158
Can you provide the TRACE logging for the problem you are running into? Per the docs a `vm.getParentVApp()` should be returning a `ManagedEntity` as you say its doing. The `VirtualApp` extends a `ResourcePool` and that extends a `ManagedEntity`, so I would be curious to see the XML coming back from the server and such. I would run this myself but I am no longer in a role where I have ready access

[2016-04-05 12:52] cnc3 commented on #158
Re-reading the SDK specification makes me think that I cannot get there from here. Essentially, there does not seem to be a way to walk from a VirtualMachine contained in a VirtualApp to the Datacenter via the Folder path. Instead, you can only walk up using the ResourcePool path. That is, you can walk up to create a path of Datacenter/host/ResourcePool/VirtualApp/VirtualMachine but not Datacenter

[2016-04-05 12:52] #158 closed, assigned to nobody

[2016-04-25 12:52] alex-lata opened #159 "Missing field 'network' from com.vmware.vim25.CannotAccessNetwork fault"
Hi,

I am getting the following exception while getting the events with a _EventHistoryCollector_:

[code]

The problem seems to come from the fact that 'network' property is missing from [CannotAccessNetwork](http://pubs.vmware.com/vsphere-60/index.jsp#com.vmware.wssdk.apiref.doc/vim.fault.CannotAccessNetwork.html) fault. By looking at the property description it looks like this was added in vSph

[2016-04-25 13:40] michaelrice commented on #159
Can you provide me the soap envelope that contains the `CannotAccessNetwork` fault? Ill write the test real quick and get this added for you. To capture that XML you would need to enable TRACE level logging. I dont need any of the other output (and there will be TONS). Please make sure if you do post a lot because you arent sure which part I need check those logs for usernames, passwords, host nam

[2016-04-25 14:16] alex-lata commented on #159
Hi,

Well, this was fast! Thank you!
The problem comes from _VMOnVirtualIntranet_ which extends the _CannotAccessNetwork_. This is what I got:

[code]

Hope it's going to be enough for your tests.
Alex

[2016-04-25 14:29] michaelrice commented on #159
What you provided does not contain a soap envelope with the actual fault. Here is an example of the response Im looking for:

[code]

This example is from an invalid login.

[2016-04-25 15:50] alex-lata commented on #159
Hi,

Actually, the SOAP envelope does not contain only the fault. The response contains all the available events, and among them there's one containing a fault. I guess that the problem comes from the conversion(xml->java) of this event.
Well, this should give you missing info:

[code]

Thanks,

[2016-04-25 16:33] michaelrice commented on #159
Ill just add the missing bits because obviously they are missing. I cant recreate your issue though. The response envelopes you have provided successfully parse into the objects they should with out throwing any exceptions. Im sure if I had more insight into what you were doing and had all the logs I could make the test, but in this case I dont see a reason to bother wasting any more time on it wh

[2016-04-25 16:43] michaelrice commented on #159
@a-lata if you wouldnt mind just pulling down the code with this patch, doing a local build of it and try that jar before I merge it that would be great.

[2016-04-25 19:56] kbrowder commented on #153
So I am rather delayed on getting back to this, sorry about that.  However what's a bit surprising is that it works on tomcat, specifically [java.util.Calendar](https://docs.oracle.com/javase/7/docs/api/java/util/Calendar.html#constructor_summary) has two protected constructors, however XmlGenDom.fromXml calls `clazz.newInstance()`  but should instead be doing:

[code]

Anyways at least that's my

[2016-04-26 07:52] alex-lata commented on #159
Hi,

Everything works smoothly! You can go on with the merge.

Thank you!

[2016-04-26 14:25] #159 closed, assigned to michaelrice

[2016-04-29 15:12] kbrowder commented on #153
further updates:
- this happened after yavijava version 5.5.07 (07 is fine 08 and greater isn't), there's no obvious difference that would cause this afaict.
- Seems to only be an issue in Jython servlets (maybe in things other than Jetty too?) so I guess there's some odd interaction there, I'll expect to make a minimal example in a few days, hopefully at that point I'll have a good idea what the

[2016-05-02 14:44] LeonHardd80 opened #161 "vCenter 6.0 API migration validation"
Hi to everybody!
I don't know if it is the right place to make a question. #
_Is there a method to test the migration of a VM before it happens?_
For example, before call the relocateVM_Task(…) method, I need to contact the vCenter 6.0 in order to know if there is some incompatibility (e.g. of CPU) between source host and destination host.
Thanks in advance!!

[2016-05-02 15:12] michaelrice commented on #161
Hi @LeonHardd80 take a look at: http://www.yavijava.com/docs/vim.vm.check.ProvisioningChecker.html#checkRelocate

[2016-05-02 15:16] michaelrice commented on #161
This might also be helpful to you: http://www.yavijava.com/docs/vim.ServiceInstance.html#queryVMotionCompatibility

[2016-05-02 15:24] michaelrice commented on #161
You could also just do the task and check for faults. If it there isnt something compatible it will throw a VmConfigFault, or one of several other compatibility faults.

[2016-05-02 15:38] LeonHardd80 commented on #161
thanks for your quick reply, michael!
I'm studying the pages you have indicated!

[2016-05-02 16:09] LeonHardd80 commented on #161
Dear Michael,
I'm a beginner with vCenter yavijava API and I don't know how to use the methods you have indicated. Is there an example of those methods invocation?
I have already downloaded and executed the examples from your site (e.g. hello_world_yavijava).

It is not clear for me on what object call the methods.
The object serviceContent (e.g. destinationVCenterServiceInstance.getServiceContent

[2016-05-04 00:00] michaelrice commented on #161
Hi @LeonHardd80 I wrote some code a few years ago that did some stuff with vmotion, take a look here and see if it will help you: https://github.com/michaelrice/VmOpsTools/blob/development/web/VmOpsTools/src/groovy/com/toastcoders/VmOpsTools/vmware/Virtualmachine/Migrate.groovy

It is groovy and not java but basically if you strong type anything where I have a def, and add a semicolon it should be

[2016-05-05 18:29] kbrowder commented on #153
So for some reason loading Jython (via ModjyServlet) seems to cause someCalendarClass.getPackage() to be a different object (although they have the same data) than a `final private static Package UTIL_PKG = Calendar.class.getPackage()` (in TypeUtil), I'm not exactly sure why, maybe a classloader is mucking things up?  I'm attempting to minimize my test case to determine the exact culprit.

That be

[2016-05-05 18:38] michaelrice commented on #153
Does that change break the tests?

[2016-05-05 19:56] kbrowder commented on #153
The tests all pass locally although I haven't tried the intTests since I don't have access on my current machine.  As you can see I filed a PR if you wanna have a look at what I think is the end result.

[2016-05-06 02:38] michaelrice commented on #153
It may take me a while to merge the code because I no longer work in a vmware environment and wont have access to any equipment where I could set something up to do the testing I normally do. If a few other community members happen to chime in and +1 it before I am able to test it out I will merge it sooner. Maybe @scottmlaplante could chime in here?

[2016-05-06 15:23] scottmlaplante commented on #153
Sure i can take a look today or this weekend.

[2016-05-06 19:59] scottmlaplante commented on #153
Ive merged the code into my local environment and it doesn't seem to cause any problems. I will run the intTests next and update.

[2016-05-09 12:26] scottmlaplante commented on #153
Ive run the intTests with this change without issue. Ill give my +1 to merge this in!

[2016-05-09 14:28] michaelrice commented on #153
Thanks a bunch @scottmlaplante

[2016-05-09 14:29] #153 closed, assigned to nobody

[2016-05-09 15:02] kbrowder commented on #153
Thanks to both of you!  Any idea when this will hit central?

[2016-05-09 15:59] #151 closed, assigned to michaelrice

[2016-05-09 16:20] michaelrice commented on #153
Ive cut the release as of 5 mins ago and published to maven, Ive seen the sync process happen in as little as an hour and take as long as 24.

[2016-05-11 13:31] kbrowder commented on #153
Got the release as of yesterday and my Jython code now works! Thanks again @michaelrice and @scottmlaplante for verifying and shipping this fix and for the fork of vijava in the first place.

[2016-05-11 15:58] michaelrice commented on #153
@kbrowder and thank you for the patch!

[2016-05-13 09:40] LeonHardd80 opened #166 "Get info from Task about vm migration"
Hi to everybody,
I need help on how to interrogate a Task.

This is the situation:
there is a thread that starts a long distance migration calling the method
com.vmware.vim25.mo.VirtualMachine._relocateVM_Task_(VirtualMachineRelocateSpec spec, VirtualMachineMovePriority priority), as explained in VmMigrationHandler class, created by Vikas Shitole.

After the migration finished,  this thread sends

[2016-05-19 19:51] mikebrazinski opened #167 "Minor performance issue in XmlGenDom"
I was debugging a local issue and I found a possible performance issue in the method fromXML in XmlGenDom.java. Line 80 is `log.trace("XML Document: " + doc.asXML());` This should be wrapped with `if ( log.isTraceEnabled ) {...}`. As is, the code is converting the document to string only to be ignored unless we're tracing at log level.

Thanks

[2016-05-19 20:23] michaelrice commented on #167
Thanks @mikebrazinski

[2016-05-25 19:24] gargi-iyer opened #168 "Issue with customization with 6.0 vcenter - works fine with 5.5 vc"
Below code snippet used for guest customization works fine with vcenter 5.5 but failed with below error when using vcenter 6.0

"A specified parameter was not correct: spec.nicSettingMap.adapter.ip"

[code]

Given below serialized XML of customization spec:

[code]

[2016-06-03 12:27] Tirla-Alin opened #169 "Import OVF issue"
Hello everyone,

I exported a vm as OVF file via VSphere client then i tried to import it back using ImportOVF sample (https://github.com/yavijava/yavijava-samples/blob/gradle/src/main/java/samples/ovf/ImportLocalOvfVApp.java). The operation fails with the following message: Invalid configuration for device '5' (that is the IDE Controller). I can import the file using vSphere client UI.

[2016-06-03 15:48] michaelrice commented on #169
Hello @Tirla-Alin Thanks for the report, would you mind taking a look at this: https://github.com/yavijava/yavijava/wiki/How-to-submit-bug-reports and provide some more input to this report so we can try to find you a solution?

[2016-06-06 12:02] Tsovak opened #170 "RemoteException: VI SDK invoke exception:org.dom4j.DocumentException: null Nested exception: null"
[code]

I get exception

[code]

ESXi 5,5
yavijava 5.5.11 and and above
where is the reason?

[2016-06-06 12:44] Tsovak commented on #170
`
 Proxy proxy = new Proxy(Proxy.Type.HTTP, new InetSocketAddress("proxy.***.ru", 3128));
        URLConnection urlConnection = new URL(url_).openConnection(proxy);
        urlConnection.setConnectTimeout(80000);
        urlConnection.setReadTimeout(80000);
        URL url = urlConnection.getURL();

[code]

`

inside WSClient.post(String soapMsg){
 HttpURLConnection postCon = (HttpURLConnection) b

[2016-06-09 05:19] Tirla-Alin commented on #169
Hello @michaelrice ,

I came back to provide you with some details:
What version of yavijava are you using: latest build from maven central
What version of JAVA are you using: Java 1.7 (tested with jdk 1.8 as well, same error)
Include some sample code if possible: The exact code from ImportOVF sample (the fail message shows in vSphere's operations history). <strong>As i could see the problem is wh

[2016-06-09 20:44] michaelrice commented on #169
@Tirla-Alin those samples are basically there to show the minimal things required to use the classes. If your use-case doesnt fit that specific mold I welcome pull requests to add more functionality to them.

[2016-06-11 19:38] gargi-iyer commented on #168
This is not an issue YAVIJAVA
The issue was because of hidden new line character at the end of IP address string.

[2016-06-11 19:38] #168 closed, assigned to nobody

[2016-06-11 21:38] michaelrice commented on #168
Thanks for following up on this

[2016-06-20 09:38] alex-lata opened #171 "NullPointerException while getting the SSLContext"
Hi,

Launching a _parallel_ query to multiple WSClients ends up with an NPE:
`Caused by: java.lang.NullPointerException
    at com.vmware.vim25.ws.WSClient.getTrustAllSocketFactory(WSClient.java:225)
    at com.vmware.vim25.ws.WSClient.<init>(WSClient.java:85)
    at com.vmware.vim25.ws.WSClient.<init>(WSClient.java:69)
    ... 23 more`
`2016-06-20 11:10:44,469 ERROR query                    : Tas

[2016-06-20 14:29] michaelrice commented on #171
Can you provide me with some sample code that reproduces your issue?

[2016-06-21 08:20] alex-lata commented on #171
Hi,
Here's the sample code reproducing the issue:

[code]

Try to run it multiple times, it depends on when the threads are passing through _TrustAllSSL.getTrustContext()_ method.

Thanks a lot!

[2016-06-21 22:00] michaelrice commented on #171
Thanks for the sample. I dont work on this full time like I used to so it will be a little while before I can mock up some tests around it and get to fixing it. If you happen to find the problem and or fix it please be sure to let me know, and if possible patches welcome :)

[2016-06-23 07:56] jmdebruin-amc opened #172 "changing annotation needs vm-configuration-settings privilege"
In de web-client, fat-client and vijava2120100824 the only privileges needed to change an annotation is virtual_machine-configurations-set_annotation. In yavijava-6.0.04 one needs virtual_machine-configurations-set_annotation and virtual_machine-configurations-settings. Without the later an permission denied acception is thrown.

piece of the code:

VirtualMachineConfigSpec modification = new Virt

[2016-06-23 14:26] michaelrice commented on #172
That is not an issue in YAVIJAVA, we just pass the call directly to vCenter. YAVIJAVA does not mangle with permissions in any way. Please check your vCenter permissions and make sure they are correct and that no new policies have been put in place that would prevent this from working.

[2016-06-23 14:26] #172 closed, assigned to nobody

[2016-07-01 12:43] ecornely opened #174 "JAX-B support for returned classes"
I would like to use yavijava to provide information about a VM as a RESTService.
It seems that the public fields and the use of lombok always end up in classes that are not usable with JAX-B.

My simple program to test and try serialization is trying to marshall VirtualMachineConfigInfo and GuestInfo classes but always fails.

Would be an improvement to have those beans respect the java beans stan

[2016-07-01 12:50] michaelrice commented on #174
Can you give me an example of what youre talking about, and how to recreate the failure you are seeing?

[2016-07-01 13:51] ecornely commented on #174
`ServiceInstance serviceInstance = c.getServiceInstance(managerURL);
    Folder rootFolder = serviceInstance.getRootFolder();
    VirtualMachine vm = (VirtualMachine) new InventoryNavigator(rootFolder).searchManagedEntity("VirtualMachine", "myMachine");
    VirtualMachineConfigInfo config = vm.getConfig();
    JAXBContext.newInstance(VirtualMachineConfigInfo.class).createMarshaller().marshal(confi

[2016-07-01 19:45] michaelrice commented on #174
[code]

[code]

[2016-07-01 19:46] michaelrice commented on #174
I tried to reformat your comment but github was freaking out on me when I would save it. I just moved it all into my comment above so no one has to go to pastebin.

[2016-07-06 08:59] alex-lata commented on #171
Hi,
I was trying to create the branch and the pull request for this issue and, unfortunately, I do not have the rights to do it.  _Permission to yavijava/yavijava.git denied to a-lata._
My fix it is quite simple, I have added 'synchronized' to TrustAllSSL#getTrustContext method.
`public static synchronized SSLContext getTrustContext() throws RemoteException`.

My tests are passing now. Let me know

[2016-07-06 12:44] michaelrice commented on #171
Hi @a-lata I have documented the step by step process here: https://github.com/yavijava/yavijava/wiki/Contributing let me know if you need any help.

[2016-07-07 19:17] #171 closed, assigned to nobody

[2016-07-08 18:49] pcoder99 opened #176 "Session Manager fails to get a paticular user session"
Using an existing user to retrieve a particular user sessionKey from a vcenter server. Both of the existing user and particular user log into the vcenter. Then using sessionKey constructing a ServiceInstance, but the ServiceInstance object could not work well, following is my code.

It is able to print out the AboutInfo of targetsi, but userSession.getUserName, getFullName is throwing NullPointerE

[2016-07-08 21:22] michaelrice commented on #176
Are you sure that the actual session isnt what is null? It is possible that `targetsi.getSessionManager().getCurrentSession();` [may not be present](http://www.yavijava.com/docs/vim.SessionManager.html#field_detail). Can you provide logs and errors? Im pretty sure if there is a bug with this it would almost have to be an upstream bug in vCenter but I would need to see the full TRACE level logs her

[2016-07-13 13:02] jonathanendy opened #177 "Memory leak with searchManagedEntities"
Hi,
I've encountered a memory leak that causing Java memory exceeding when using **searchManagedEntities** function in **InventoryNavigator** class.
I'm using this function with a tool that gets all the objects from the vCenters. In some vCenters it works and some other don't.
When debugging I found that the flow using function **retrieveObjectContents** that calls **retrieveProperties** which is

[2016-08-03 15:07] Shad0w1nk commented on #50
I'm not having the exact issue exposed in this ticket but the code sample fixed my problem. Assuming you have a valid GuestProcessManager and GuestAuthentication, the following code fail with ClassCastException under version 6.0.03 of yavijava:
GuestProcessManager guestProcessManager = ...
GuestAuthentication auth = ...
guestProcessManager.readEnvironmentVariableInGuest(auth, null);

The stacktrac

[2016-08-08 21:33] pcoder99 opened #178 "performance queryAvailablePerfMetric on wmfs datastore throws NullPointerException"
working on vCenter 6.0.0.20000
I tried passing different VMFS datastore object into the API, all of them throws NullPointerException  ? Can anybody share a workable sample code?

Solution 1:
HostSystem host = (HostSystem)navigator.searchManagedEntity("HostSystem", "***_**");
Datastore[] ds = host.getDatastores();
if(ds != null && ds.length != 0){
            for(Datastore ads: ds){

[2016-08-09 05:22] pcoder99 commented on #178
Yes, it is a question. Can anybody help to answer the question ?

[2016-08-09 09:31] ChristianNerriere-eaton opened #179 "Property collector throws a runtime exception when retrieving VM update"
Sometimes, when the blocking method **waitForUpdatesEx** is released, it throws the following exception:

[code]

It appears when the vcenter sents an update of a VM, typically a power state change.
We use the version 6.0.04 of Yavijava with Java 8.
Thanks.
Christian

[2016-08-17 09:07] zhuminsb opened #180 "How to get Site Recovery Manager (SRM) data from vCenter"
Hello experts,
In my project, I want to retrieve SRM data from YAVIJAVA library, does someone know how to get it? which API I will use? I find VMWare has a SRM SDK that you can download from VMWare web site.

Thanks and Regards,

[2016-08-18 04:02] michaelrice commented on #180
I havent ever added SRM support to YAVIJAVA so you would need to use some other library to do that.

[2016-08-18 04:02] #180 closed, assigned to nobody

[2016-08-18 05:00] vThinkBeyondVM commented on #180
@michaelrice Similar question I have. If we add vSAN or SRM libraries (SDK released by VMware) into YAVIJAVA eclipse project. it should work together. am I right? vSAN management APIs are released as extension to vSphere Management APIs, hence I was thinking to use vSAN SDK with YAVIJAVA. It should work together. What do you think? What is your suggestion on it?

[2016-08-18 06:23] michaelrice commented on #180
@vThinkBeyondVM Ive never used the SRM libraries from vmware before so I have no idea. There is a chance it would work, there is also a chance that the SRM libraries depend on something specific from the vmware vsphere provided library.. Please feel free to try it out and report your success/failures back here so others will have something to refer to when they attempt it.

[2016-08-18 06:46] vThinkBeyondVM commented on #180
@michaelrice Ok. I will try and report on success/failure.

[2016-08-19 07:02] babyachievement opened #181 "Unable to resolve WSDL method name GetResourceUsage for namespace name urn:vim25"
Hi, when I invoked the getResourceUsage method of ClusterComputeResource, I got the the errror like this:

[code]

[2016-08-19 09:37] vThinkBeyondVM commented on #181
@babyachievement some time back I had written one sample on this API : http://vthinkbeyondvm.com/how-to-quickly-get-vsphere-cluster-resource-usage-cpu-mem-storage-using-api-cool-api-in-vsphere-6-0/

It worked fine for me. I am using 6.0.03 (yavijava jars).

[2016-08-19 09:46] babyachievement commented on #181
@vThinkBeyondVM ,I have already tried the sample, but it did not work for me, I still got the error:

[code]

should I modify the config file of VCenter?

The version of our vcenter is 5.5.0.

[2016-08-19 09:48] babyachievement commented on #181
@vThinkBeyondVM, I'm  very sorry. I did not notice that, GetResourceUsage just support Vsphere 6.0.

[2016-08-19 09:50] vThinkBeyondVM commented on #181
Yeah. It is only available as part of vCenter 6.0

[2016-08-19 09:52] babyachievement commented on #181
@vThinkBeyondVM, thank you.

[2016-08-19 09:52] #181 closed, assigned to nobody

[2016-08-26 16:34] michaelnetapp commented on #179
Yep, I too am seeing this issue.  Any additional information, workaround, ETA on a fix?
We use version 6.0.04 of Yavijava with Java 7.  I'm seeing the issue with vCenter 6.0 U1 specifically.

[2016-08-26 17:20] michaelrice commented on #179
In all honesty I no longer work in a role that exposes me to VMWare so I dont have a lab, and dont have access to equipment, or software anymore so I couldnt possibly provide an ETA. Im happy to accept pull requests. I have outlined how to [contribute](https://github.com/yavijava/yavijava/wiki/Contributing) in the wiki if you are interested in helping out.

[2016-09-07 16:40] #150 closed, assigned to nobody

[2016-09-08 00:39] babyachievement opened #182 "Is it possible to get aggregate number of IO operations on a specified datastore?"
There is a datastore counter "[datastore.datastoreIops.average](http://pubs.vmware.com/vsphere-60/index.jsp#com.vmware.wssdk.apiref.doc/datastore_counters.html)" for Hostsytem Entity. But how can I get the total  aggregate number of IO operations on a specified datastore?

[2016-09-13 09:08] yanzhifa opened #183 "Is there vSphere SDK API to perform Storage Array Type Policy(SATP) rule operations?"
Hi,

Is there vSphere SDK API available to perform Storage Array Type Policy(SATP) rule removal and reclaim operation on vCenter Server 6?
I can perform these operations from ESXi console using esxcli commands, but I am not able to figure out how to do it programmatically.
These are the operations that I want to perform:
- esxcli storage nmp satp rule remove
- esxcli storage core claiming reclaim

[2016-09-13 16:27] michaelrice commented on #183
This isnt a part of the standard vSphere API that this library covers, but it should be possible. I am not sure with out reading which API you would use but this should be part of one of the following 4:
- vSphere API for Storage Awareness (VASA)
- vSphere API for Array Integration (VAAI)
- vSphere Storage APIs for Multipathing
- vSphere Storage API for Data Protection

[2016-09-13 16:31] michaelrice commented on #183
Also, since it uses esxcli you might be able to use this post: http://www.virtuallyghetto.com/2010/08/hidden-esxcli-apis.html to help you figure out how to use these hidden APIs to make it happen

[2016-09-14 03:42] yanzhifa commented on #183
Thanks a lot, @michaelrice , I use the esxcli command line to handle this.

[2016-09-14 04:18] michaelrice commented on #183
@yanzhifa if youre open to using ruby there is an esxcli interface in the HostSystem object of rbvmomi [here](https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/vim/HostSystem.rb#L4)

[2016-09-14 13:00] sharninder commented on #102
Hey guys! Sorry to bother you on this but I was wondering if this issue is there in the latest release ? We're hitting this and aren't sure if we should upgrade since that'll need us to change some other stuff too.

[2016-09-14 15:27] michaelrice commented on #102
Hi @sharninder yes it is.

[2016-09-14 15:47] sharninder commented on #102
The tag says Fixed-Waiting-Release so I wasn't sure if the fix went in or not. The last release of yavijava 6.0.4 I believe. I'll try with that.

[2016-09-20 11:56] B0bSapp opened #184 "VirtualDiskManager.createVirtualDisk_Task returns invalid task"
Hello,
We faced problem. Please see code below:

[code]

Result of execution of this code is NPE, stackTrace is below:

If `task.waitForTask()` is removed TaskManager is unable to find this task neither in recentTasks nor via TaskHistoryCollector, looks like task does not exist, but it is not true - vmdk file can be found via client in folder. Can you please help to resolve this issue.
Thanks in a

[2016-09-20 15:29] michaelrice commented on #184
Can you enable TRACE logging? That may help expose whats going on. If you paste the output please be aware that it will include your passwords and usernames, and IPs and everything so be sure to remove anything like that you dont want to be public.

[2016-09-20 15:30] michaelrice commented on #184
Also, please include both your vsphere version and your yavijava version

[2016-10-06 08:34] B0bSapp commented on #184
Sorry for keeping silence too long.
[traceLog.txt](https://github.com/yavijava/yavijava/files/513204/traceLog.txt)
Version of yavijava : 6.0.04
Version of vsphere 6.0.0.0 build 2502222.
One moment should be mentioned: this issue is reproduced only when logged in as ordinary user, when admin account is used everything works as it should.

[2016-10-06 13:33] michaelrice commented on #184
So it looks like the problem is that you are getting the following:

[code]

This payload contains a `NoPermission` fault that is not being bubbled up properly. You could work around this issue by making sure your user has `System.Read` for the Folder `group-d1` If you are unsure what Folder that is (its likely a Datacenter) you can use the MOB to explore http://www.virtuallyghetto.com/tag/managed

[2016-10-06 13:55] michaelrice commented on #184
Developer notes for bug fix:

In Task.java lines 186-192 (the try/catch block) if the user does not have permission to view the task object line 187 will always cause a NPE because the task object being returned from the server contains a missing prop set and has a fault in it which needs to be bubbled up.

[2016-10-06 17:12] B0bSapp commented on #184
Thank you so much for your response. Other thing I would like to ask: is it possible to prohibit starting such tasks, when you don't have appropriate privileges? Because in this example we were able to start disk creation, but unable to track it's execution

[2016-10-06 17:27] michaelrice commented on #184
You should be able to I think. The [AuthorizationManager](http://www.yavijava.com/docs/vim.AuthorizationManager.html) has a few methods in it like `HasPrivilegeOnEntity` and `RetrieveEntityPermissions` that may be helpful for you in finding that info out. You could then place your code in a conditional where if you have the needed access then do this thing...

[2016-10-07 07:24] B0bSapp commented on #184
I have one more question, hope it's not too much, I faced following problem: I started couple of tasks (copyVirtualDisk)almost simultanously and immediately tried to search them via TaskHistoryCollector(my application uses yavijava), but for one of them it wasn't successfull, while all the rest were found. I made another attempt, but tried to search via TaskHistoryCollector and in recentTasks too.

[2016-10-11 13:17] michaelrice opened #185 "XmlGenDom misses faults nested in missingSet ObjectContent results"
This is the root cause to #184

In the parser when an `ObjectContent` object is found, and it contains a `missingSet` property that means there is a fault that has occurred. This fault is missing some properties that the normal `parseSoapFault` method relies on to properly format and raise faults as exceptions.

fun times.

[2016-10-27 11:01] alex-lata opened #186 "ClassCastException while trying to read the environment variables from a guest virtual machine"
Hello,

I am getting the following exception while trying to get the environment variables from a guest virtual machine:

[code]

Long story short, instead of getting the env variables as an array of Strings I end up with a List of Strings.

Here's a test class to reproduce this problem:

[code]

The source of the problem seems to be ReflectUtil#parseToObject method which simply returns the List o

[2016-10-27 16:26] michaelrice commented on #186
Can you provide the full stack trace and possibly the TRACE logs that have the SOAP payloads in them? If you can provide those logs be sure to remove any passwords that are included in them.

[2016-10-27 16:43] michaelrice commented on #186
So after reviewing this more I dont need that stack trace, but the TRACE logs would be invaluable here. I mainly just need the SOAP envelope that has the response with `GuestProcessManager` and the return it has from calling that `readEnvironmentVariableInGuest()` method. This would allow me to wirte a good test around the ReflectUtil class.

[2016-11-02 11:23] alex-lata commented on #186
Hi Michael,
Thank you for your quick reply!
Here's my request for getting the environment variables:

[code]

And here's the response:

[code]

Let me know if you need any further information.

Best,
Alex

[2016-11-05 05:06] michaelrice commented on #186
Hi Alex,

Thanks a lot for this info. I went though the source and found a bunch of places this should be a bug and Im kind of surprised Ive never run into it before after all these years with as many places as it shows up. This was a really good catch. Ive got the tests written and the fix you suggested works fine. Ill be adding the patch later this weekend. Thanks again!

-mike

[2016-11-05 05:11] michaelrice opened #187 "vSphere 6.5 Support Tracking Issue"
This issue is to track the progress of the vSphere 6.5 support. Right now vSphere 6.5 is beta but once it goes GA Ill begin posting progress reports here. Be sure to subscribe to the issue if you want to track the progress.

Im using the GitHub project found here: https://github.com/yavijava/yavijava/projects/1 as my Kanban board. Please feel free to jump in and help out if you would like.

[2016-11-05 06:38] #186 closed, assigned to michaelrice

[2016-11-07 08:25] alex-lata commented on #186
Hi Mike,

You are welcome and thank you as well!

Alex

[2016-11-07 23:51] bbsantosh opened #189 "Invalid argument 'endTime' in querySpec for vimstub.queryPerf() API"
Hi

Hi below is the stack trace for the API, I try to iterate over a list of VM in the Datacenter and collect metrics for each of it. I build the spec with the following way

[code]
When i execute the above in a loop for list of all the avaliable vm's i get the below stack trace. It works fine with vijava. Any change that i need to do after including the yavi lib. Please advice

2016-11-03 10:11:4

[2016-11-08 01:12] michaelrice commented on #189
Can you include TRACE logging so I can take a look at the XML payloads coming and going from the server? Please be sure to remove any passwords from those logs before you post them.

[2016-11-14 03:30] bbsantosh commented on #189
[trace.txt](https://github.com/yavijava/yavijava/files/588324/trace.txt)
Hi Michael,

I have attached the trace file, please find the attachment. THe exact log statement can be found at    2016-11-14 03:13:16,120 [Thread-94] ERROR invoke(WSClient.java:99) - Exception caught while invoking method: QueryPerf
com.vmware.vim25.InvalidArgument: A specified parameter was not correct: querySpec.startTime

[2016-11-14 04:56] michaelrice commented on #189
What version of VIJAVA does this work on? From what I can see the payloads on this are properly formed and the only difference in ones where it fails vs ones where its working is the MOREF of the VM you are trying to get and millisecond in the `endTime` which is expected anyway.

[2016-11-14 07:28] michaelrice commented on #189
Also what version of yavijava are you using?

[2016-11-15 02:55] bbsantosh commented on #189
I am using the YAVIJAVA version 6.0.04 and vijava which i was using vijava55b20130927

[2016-11-15 20:04] michaelrice opened #190 "Add REST support for new vSPhere API in 6.5"
Need to add a REST client to support new REST API for 6.5

Related: #187

[2016-11-15 20:18] michaelrice opened #191 "CryptoManager"
Need to add CryptoManager MO

Related: #187

[2016-11-15 20:19] michaelrice opened #192 "CryptoManagerKmip"
Add CryptoManagerKmip MO

Related: #187

[2016-11-15 20:19] michaelrice opened #193 "FailoverClusterConfigurator"
Add FailoverClusterConfigurator MO

Related #187

[2016-11-15 20:20] michaelrice opened #194 "FailoverClusterManager"
Add FailoverClusterManager  MO

Related: #187

[2016-11-15 20:21] michaelrice opened #195 "HealthUpdateManager"
Add HealthUpdateManager  MO

Related: #187

[2016-11-15 20:21] michaelrice opened #196 "HostSpecificationManager"
Add HostSpecificationManager  MO

Related: #187

[2016-11-15 20:22] michaelrice opened #197 "HostVStorageObjectManager"
Add HostVStorageObjectManager  MO

Related: #187

[2016-11-15 20:22] michaelrice opened #198 "VStorageObjectManagerBase"
Add VStorageObjectManagerBase  MO

Related: #187

[2016-11-15 20:23] michaelrice opened #199 "VcenterVStorageObjectManager"
Add VcenterVStorageObjectManager  MO

Related: #187

[2016-11-15 20:41] michaelrice opened #200 "vSphere 6.5 DataObjects"
Need to generate all of the new DataObjects for 6.5 and update existing DataObjects with new Properties.

This is currently stalled because 6.5 GA has a broken SDK doc release. [yavijava_generator](https://github.com/yavijava/yavijava_generator) needs to be adapted to support pulling the docs from online instead of just locally so we can get these classes generated.

Related: [yavijava_generator/2

[2016-11-17 03:29] bbsantosh commented on #189
Any updates on it, or any pointers for me to look into.

[2016-11-17 07:26] michaelrice commented on #189
Im sorry I dont see anything that could be causing this problem. The payloads for calls that work and calls that fail look the same. The only thing I can think of is you might try the latest code from the gradle branch.  I dont expect it to work any differently but its worth a try. There have been a few bugs fixed since the last release but I dont think any of them would be related to this issue.

[2016-11-17 17:02] bbsantosh commented on #115
I too am facing the similar issue. I am using the YAVIJAVA version 6.0.04. Please let know if there is any workaround or fix for the same

[2016-11-17 17:52] michaelrice commented on #115
I have never been able to reproduce this, and we have integration tests that show it works. Until I am able to reproduce it Im not able to do anything to it.. Maybe someone can provide some steps to follow that will reproduce the problem? Or write a test that fails?

[2016-11-19 04:45] #200 closed, assigned to nobody

[2016-11-19 23:41] michaelrice opened #202 "AuthorizationManager new methods for 6.5"
AuthorizationManager has 2 new methods:

    FetchUserPrivilegeOnEntities
    HasUserPrivilegeOnEntities

Related: #187

[2016-11-19 23:43] michaelrice opened #203 "Datastore new methods for 6.5"
Datastore has 1 new method for 6.5

    UpdateVVolVirtualMachineFiles_Task

Related: #187

[2016-11-19 23:46] michaelrice opened #204 "DatastoreNamespaceManager has new method for 6.5"
DatastoreNamespaceManager has 1 new method for 6.5

    ConvertNamespacePathToUuidPath

Related: #187

[2016-11-19 23:52] michaelrice opened #205 "HostGraphicsManager has new method for 6.5"
HostGraphicsManager has one new method & a new property for 6.5

    UpdateGraphicsConfig (method)
    graphicsConfig (property)

Related: #187

[2016-11-19 23:55] michaelrice opened #206 "HostHealthStatusSystem has new methods for 6.5"
HostHealthStatusSystem has 2 new methods for 6.5

    ClearSystemEventLog
    FetchSystemEventLog

Related: #187

[2016-11-19 23:58] michaelrice opened #207 "HostImageConfigManager has new methods for 6.5"
HostImageConfigManager has two methods for 6.5

    fetchSoftwarePackages
    installDate

Related: #187

[2016-11-20 00:01] michaelrice opened #208 "HostProfileManager has new methods for 6.5"
HostProfileManager has five new methods for 6.5

    ApplyEntitiesConfig_Task
    GenerateHostConfigTaskSpec_Task
    RetrieveHostCustomizations
    RetrieveHostCustomizationsForProfile
    UpdateHostCustomizations_Task

Related: #187

[2016-11-20 07:38] michaelrice opened #209 "HostStorageSystem has new methods for 6.5"
HostStorageSystem has two new methods for 6.5

    QueryVmfsConfigOption
    UpdateVmfsUnmapPriority

Related: #187

[2016-11-20 07:40] michaelrice opened #210 "HostSystem has new methods for 6.5"
HostSystem has three new methods for 6.5

    ConfigureCryptoKey
    EnableCrypto
    PrepareCrypto

Related: #187

[2016-11-20 07:44] michaelrice opened #211 "VirtualDiskManager has new methods for 6.5"
VirtualDiskManager has a new method for 6.5

    ReleaseManagedSnapshot

Related: #187

[2016-11-20 07:51] michaelrice opened #212 "VirtualMachine has new methods for 6.5"
VirtualMachine has four new methods for 6.5

    AttachDisk_Task
    CreateSnapshotEx_Task
    DetachDisk_Task
    PutUsbScanCodes

Related: #187

[2016-11-20 07:53] michaelrice opened #213 "HostPciPassthruSystem has new properties for 6.5"
The HostPciPassthruSystem MO has new properties for 6.5

    sriovDevicePoolInfo

Related: #187

[2016-11-20 07:54] michaelrice opened #214 "OpaqueNetwork has new properties for 6.5"
The OpaqueNetwork MO has new properties for 6.5

    capability
    extraConfig

Related: #187

[2016-11-20 08:10] michaelrice opened #215 "Need to generate new faults for 6.5"
6.5 has introduced new faults that need to be generated.

Related: #187

[2016-11-20 08:12] michaelrice opened #216 "6.5 has new Enums and new properties for existing"
Need to run yavijava_generator to get new Enums and update existing with new properties.

Related: #187

[2016-11-20 09:23] #183 closed, assigned to nobody

[2016-11-20 09:32] michaelrice commented on #149
I believe this is now part of the new REST API with 6.5. I do plan to support the REST API when I make the 6.5 release, and in the docs it has tagging mentioned so I think you are in luck.

Related #187, #190

[2016-11-20 09:34] monosoul commented on #149
@michaelrice that's a great news! Thanks in advance!

[2016-11-20 09:39] michaelrice commented on #144
I think this may have been addressed in #171 and fixed with the code from pull request #175 Please feel free to reopen this issue if that did not solve the problem

[2016-11-20 09:39] #144 closed, assigned to nobody

[2016-11-24 14:53] anderssv commented on #171
I'm still seeing this issue in the 6.0.04 release. Any idea?

[2016-11-24 15:04] michaelrice commented on #171
@anderssv this issue was reported on 6.0.04 so thats to be expected. The fix is in the gradle branch and there has not been a release since it was submitted, accepted, and merged. The next release Im planning is for 6.5 so if you need the fix sooner you will need to build your own jar using the code currently in the gradle branch.

[2016-11-28 09:08] anderssv commented on #171
Oh, ok I didn't get the dates to match up. Thanks for clarifying. :)

[2016-12-01 21:32] gescoffery opened #220 "Yavijava Hello World sample not working for me...Need Help"
I'm trying to run the yavijava Hello World sample (https://github.com/yavijava/hello_world_yavijava) and I'm running into errors. I don't believe it's an SSL problem as I set the flag to ignore the cert.
Every time it tries to create the ServiceInstance the logger catches an error
"com.vmware.vim25.ws.VimStub - error detected at url ..."

It blows up at the setVimNameSpace(namespace); line in the

[2016-12-01 21:35] michaelrice commented on #220
I would need to see your whole stacktrace at the very least to get an idea of whats going on. Also, the vmware code you provided is not relevant to YAVIJAVA.

[2016-12-01 22:12] gescoffery commented on #220
The error is happening on another network but i copied everything by hand below

ERROR com.vmware.vim25.ws.VimStub  - Error detected for url: https://30.11.100.50/sdk ignoreSSL: true
java.lang.reflect.InvocationTargetException
    at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method) at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)

[2016-12-01 22:13] gescoffery commented on #220
I only included the snippet to show how the structure is put together as it differs from YAVIJAVA

[2016-12-01 22:14] michaelrice commented on #220
Looks like I need to add a requirement to the build.gradle for dom4j on that sample.

If you put dom4j in your class path that should fix this problem for you.

[2016-12-01 22:18] gescoffery commented on #220
I'll give it a try...thanks

[2016-12-02 00:47] michaelrice commented on #220
After following the instructions given on the referenced sample I am unable to reproduce this and also didnt even need to add dom4j because it is pulled down by the requirement for yavijava

    git clone git@github.com:yavijava/hello_world_yavijava.git
    cd hello_world_yavijava/
    ./gradlew fatJar
    java -jar build/libs/hello_world_yavijava-1.0.jar "administrator@vsphere.maas" '<mypassword>

[2016-12-02 00:47] #220 closed, assigned to nobody

[2016-12-02 18:43] srazin opened #221 "vSphere at times return null data"
I do not believe it is a yavijava problem, but that's the closest forum I know to discuss and query for opinion that is directly deals with yavijava.
It seems that at time when we send requests through yavijava to vCenter (6.x as well as 5.x) very rearly there could be an occurrence that vCenter would return null (nothing). I can stop my process, etc, but not until I reboot the vCenter it does not

[2016-12-03 00:42] MAPerk commented on #221
when I was doing some development with vijava a couple years ago, I had a situation where I was sending many requests for processing, cloning mostly, at the server and I noticed that after reaching a certain threshold I would start to get failures on the requests.  Too many sessions is what it seemed to boil down to.  I had to change the method I was using to authenticate and perform tasks. I need

[2016-12-03 02:23] michaelrice commented on #221
Have you checked the vCenter logs? Normally if you're hitting the limit you will see `SOAP session count limit reached` in your vCenter logs. If you are seeing that in the logs you can up the default limit. You can also increase the session timeout as well. I suggest reusing the same session for as long as possible and upping the connection limit based on your needs. Take a look at this KB article

[2016-12-03 03:29] srazin commented on #221
No, I have not. But have you observed something like that prior yourself?

On Dec 2, 2016 9:23 PM, "Michael Rice" <notifications@github.com> wrote:

[2016-12-03 04:15] michaelrice commented on #221
Any time I have issues with vCenter the first place I go is the vCenter logs. Ive run into all kinds of issues in the past but I dont recall if this issue you are describing was one of them. On our production vCenters we have done *all kinds* of performance tuning though. A lot of the default settings dont work in an environment as large as ours, and I know for a fact we have extended the session

[2016-12-03 11:48] srazin commented on #221
Thank you for the info! I will look into it.

BTW are you guys (considering the scale at which you operate) willing to
share the setting that you found to work best? (Assuming it is consolidated
into a doc etc.)
I am sure community can learn a lot from that...
However I understand if otherwise.

On Dec 2, 2016 11:15 PM, "Michael Rice" <notifications@github.com> wrote:

[2016-12-06 00:21] michaelrice opened #222 "Remove log4j and move to slf4j"
It would be nice to remove the requirement for log4j with out loosing any of the benefits of logging, and still allowing the use of log4j for those that use it, while still opening the doors for others not using it to use what they already use (maybe java.util.logging or logback etc..)

[2016-12-06 11:16] alex-lata commented on #222
+1

[2016-12-30 04:15] zhenmie365 opened #225 "[question]return ClassNotFoundException in using task.waitForTask() where invoking removeDatastoreEx_Task()"
#@   It's well when I only use HostDatastoreSystem.removeDatastoreEx_Task(datastoreUuidArray) to remove NFS datastores from host.
   but if running task.waitForTask() from the task returned by HostDatastoreSystem.removeDatastoreEx_Task(datastoreUuidArray),the error is appeared :
`[main] ERROR org.doublecloud.ws.util.TypeUtil  - ClassNotFoundException caught for type: ArrayOfHostDatastoreSystemData

[2016-12-30 05:23] michaelrice commented on #225
Can you enable TRACE logging and provide me the XML payloads coming and going to the server? It looks like the docs say it should return a Task but the error you are posting looks like its `ArrayOfHostDatastoreSystemDatastoreResult` I would need to see the XML to be sure though.

Be sure to remove your passwords from the XML before you paste it.

[2016-12-30 05:26] michaelrice commented on #225
Also can you post some sample code I can run too.

[2016-12-30 06:48] zhenmie365 commented on #225
I'm sorry that I can't get the meaning of "TRACE logging and provide me the XML payloads coming and going to the server".Can you show the process?
And process of the error coming out is following:
`Task task = HostSystem.getHostDatastoreSystem().removeDatastoreEx_Task(datastoreList);
task.waitForTask(3000, 5000);`
If only running the first line, no error occured,and host removed the datastore(NFS)

[2016-12-30 16:02] michaelrice commented on #225
In your `log4j.properties` I need you to enable TRACE logging on `com.vmware`

Here is an example file: https://github.com/yavijava/hello_world_yavijava/blob/master/src/main/resources/log4j.properties

On line 8 I have `info` but I need you to make that `trace`

Then rerun your code and provide me the logs that come from it. Those logs will include the XML payloads coming and going from the server

[2016-12-31 01:58] zhenmie365 commented on #225
ok.I got it!

Perhaps I will send the logs to you three days later,because I have no vmware environment this three days.

[2017-01-03 09:06] zhenmie365 commented on #225
[log4jForArrayHostDatastore.txt](https://github.com/yavijava/yavijava/files/681912/log4jForArrayHostDatastore.txt)

The log above is the output of console , running code is following.

[codeOfBugs.txt](https://github.com/yavijava/yavijava/files/681916/codeOfBugs.txt)

[2017-01-03 16:55] michaelrice commented on #225
As I suspected. The documentation says one thing and the API actually does another. Right now its "working as coded" because I code this based on what the docs say but there is a bug in the docs thus a bug in the code. Ive added this to the TODO list for 6.5 support.
Thanks!

[2017-01-04 01:26] zhenmie365 commented on #225
My pleasure!
By the way, do documentation mean vSphere api 6.0?

[2017-01-04 16:30] kbrowder opened #226 "Implement experimental vmfork APIs"
These aren't documented but there's examples in https://labs.vmware.com/flings/vmfork-for-pyvmomi (specifically vmfork_pyvmomi.py has the monkey-patch for pyvmomi)

[2017-01-04 16:45] michaelrice commented on #226
This looks neat. Thanks for the feature request.

[2017-01-13 15:31] ChristianNerriere-eaton commented on #179
Hello,
The exception is thrown when VMware response contains an update of a field of type `byte[]`. The equivalent xsd type is `base64Binary` and is not managed by the library. Example: field  **vmxConfigChecksum** of class **VirtualMachineConfigInfo**.
To correct the problem, add the following lines:
[code]
at line 130 of the method **setObjectField** of the class **ReflectUtil**.
Maybe the Runti

[2017-02-05 03:03] zhenmie365 commented on #183
So, is that said, vSphere Storage API for Data Protection is not include in yavijava of 6.0 version?
Is Using esxcli the only way to use these hidden APIs ?

[2017-02-05 04:15] zhenmie365 opened #227 "[question] does vSphere Storage API for Data Protection include in yavijava?"
Is vSphere Storage API for Data Protection include in yavijava of version 6.0?
How do I perform VDP function using yavijava?

[2017-02-10 06:26] sudhansk commented on #8
@michaelrice Any idea when it is going to be a part of yavijava release ?
Thanks !

[2017-02-10 08:31] michaelrice commented on #8
Sorry no. I used to do this library while at work because it was related to my other tasks. Ive since moved from a VMWare role to an OpenStack role. Now I just do it for fun when I have free time, and I just dont have a lot of free time these days. I do welcome any pull requests though.

[2017-03-17 02:01] davidbairdala opened #228 "Retrieving tags (property 'tag') via propertyCollectorUtils returns an object with no fields"
I can't seem to retrieve the list of tags for a VM using property collectors. I get an object reference back of type Object. Am I doing something wrong? - I am using the property path 'tag'.

[2017-03-17 02:05] michaelrice commented on #228
Can you show me some sample code of what you are trying to do?

[2017-03-17 02:13] davidbairdala commented on #228
HI Michael,

Yes, can do - I'll put together some sample code and get it to you soon.

[2017-03-17 04:07] vThinkBeyondVM commented on #228
If you are looking for tagging, it is not a part of vSphere management
APIs, its part of vCloud/REST APIs.
http://www.virtuallyghetto.com/2016/11/new-vsphere-6-5-apis-worth-checking-out.html

 Thanks & Regards
*S. Vikas,*
*vExpert*, *2014-2017*
*My blog*:"http://vThinkBeyondVM.com <http://vthinkbeyondvm.com/>"
08147377431

On Fri, Mar 17, 2017 at 7:43 AM, David Baird <notifications@github.com>
wro

[2017-03-17 12:46] davidbairdala commented on #228
Thanks @vThinkBeyondVM - The ManagedEntity class in the VIM api has a method getTag() that returns an array of Tag - are these not the tags that you can create and assign in vCentre (formally custom attributes)?

@michaelrice below is a sample class that reproduces the problem. It looks like it could be any property that returns an array of data object (as distinct from a managed object ref or pri

[2017-03-18 00:02] ghost opened #229 "AlarmManager.createAlarm() not working properly"
https://github.com/yavijava/yavijava-samples/blob/gradle/src/main/java/com/vmware/vim25/mo/samples/alarm/CreateVmAlarm.java

This sample seems not work,it throws exception:

Exception in thread "main" com.vmware.vim25.InvalidArgument: A specified parameter was not correct:
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newIns

[2017-03-18 00:26] michaelrice commented on #229
That error means you have an error in the spec file and vSphere wasnt able to validate it in order to create your alarm.

[2017-03-18 00:52] ghost commented on #229
I've tested it in vsphere SDK 6.0 by running:
 ./run.sh com.vmware.alarms.VMPowerStateAlarm --url https://<my-vcenter>/sdk --username administrator@vsphere.local --password mypassword --vmname vm1 --alarm testAlarm

WARNING: Java is now set to trust all SSL certificates.

-- VMware samples in Java --

Successfully created Alarm: alarm-201

The SDK is here: https://code.vmware.com/web/dp/doc/previe

[2017-03-18 01:16] michaelrice commented on #229
I dont understand what your last comment means. The SDK you provided a link to is not relevant to this project so Im a little confused. All I know for sure is that the error from your initial report means that vSphere could not validate your spec file.

[2017-03-21 00:31] ghost commented on #229
I have done more tests and the issue seems to be caused by vsphere SDK, since yavijava is a light-weight wrapper for the SDK, I think it did the right thing. I'll talk to the vsphere team for solution. Thanks!

[2017-03-21 00:31] #229 closed, assigned to nobody

[2017-04-12 19:14] ghost opened #230 "Best way to reuse/cache ServiceInstance?"
In my program I was getting multiple ServiceInstances from multiple vcenter/ESXi hosts, I'd like to cache the ServiceInstance somewhere and reuse later so I don't need to create a serviceInstance again. What's the best practice to do it that handles thread-safe as well? Thanks in advance.

[2017-04-12 21:01] michaelrice commented on #230
Thats a rather first world problem.. You could do a lot of things to store the service instance in a cache, how you choose to do it is up to you. Just keep in mind that the sessions are only valid for like 30 mins by default. I dont remember what happens when you try to use an expired session but it wouldn't take long to find that out then make sure you handle that failure by renewing the session

[2017-04-17 22:29] ghost commented on #230
Thanks @michaelrice I am using some timeout cache for reusing the instance now.

[2017-04-17 22:29] #230 closed, assigned to nobody

[2017-04-29 03:47] mike-tutkowski commented on #179
Thanks, @ChrisNerr! I grabbed the code you referenced above and am testing it out in the gradle branch.

If I open a PR, are there still people involved in this project who can examine and commit the changes?

[2017-04-29 03:55] michaelrice commented on #179
@mike-tutkowski yes. please include a test with your change. I was planning to cut a release this weekend because some folks have hit me up on gitter.im asking for a release of whats currently in the gradle branch

[2017-04-30 04:23] mike-tutkowski commented on #179
Due to the fact that Base64 is a Java 8 class (and I don't think we can assume a Java 8 runtime will necessarily be in use all the time when running with this library), I decided to go this route:

        else if ("base64Binary".equals(type)) {
            field.set(object, DatatypeConverter.parseBase64Binary(value));
        }

@michaelrice Would you be able to guide me a bit on how to write a t

[2017-04-30 04:25] mike-tutkowski commented on #179
[Yavijava_Test.java.txt](https://github.com/yavijava/yavijava/files/966551/Yavijava_Test.java.txt)

[2017-04-30 04:39] michaelrice commented on #179
@mike-tutkowski I think the `Base64` class that @ChrisNerr was referring to was from apache commons which is already pulled in by other deps in the library.

As for a test you dont need to make an integration or functional test, you just need to make a unit test. Take a look at the ReflectUtilTest class for some examples. If you need some one on one help head over to the gitter.im chat and I can h

[2017-04-30 05:25] michaelrice commented on #179
@mike-tutkowski so Im really confused about why this is even a problem because it looks like we fixed this in #103 and we even have a test with it that loads the XML and parses the response from the server. Can you please run your file that you provided above with TRACE level logging enabled and do so **WITH OUT** your fix in place so we can get the XML payload that is causing the problem?

[2017-04-30 14:56] michaelrice commented on #179
hey @mike-tutkowski I setup a 6.0 lab last night and I have your example above running using 6.0.04 and was wondering how long it takes before you are seeing the exception being thrown.

Edit:  Oh!! I make a change to the VM then stack trace city, and I see the reason why the fix we added in #103 didnt solve this. So if you look at the test we added the payload with the `vmxConfigChecksum` did not

[2017-04-30 15:00] mike-tutkowski commented on #179
I noticed that I had to change the disk resource shares to trigger the error.

It also requires update one or two of vSphere 6, I believe.

On Apr 30, 2017, at 8:56 AM, Michael Rice <notifications@github.com<mailto:notifications@github.com>> wrote:

hey @mike-tutkowski<https://github.com/mike-tutkowski> I setup a 6.0 lab last night and I have your example above running using 6.0.04 and was wonderi

[2017-04-30 18:55] mike-tutkowski commented on #179
Here you go, @michaelrice:

/Library/Java/JavaVirtualMachines/jdk1.7.0_79.jdk/Contents/Home/bin/java -agentlib:jdwp=transport=dt_socket,address=127.0.0.1:60457,suspend=y,server=n -Dfile.encoding=UTF-8 -classpath "/Library/Java/JavaVirtualMachines/jdk1.7.0_79.jdk/Contents/Home/jre/lib/charsets.jar:/Library/Java/JavaVirtualMachines/jdk1.7.0_79.jdk/Contents/Home/jre/lib/deploy.jar:/Library/Java/JavaV

[2017-04-30 18:58] mike-tutkowski commented on #179
In ReflectUtil.setObjectField, the "bolded" code below solves the problem (based on @ChrisNerr's comment):

        else if ("double".equals(type)) {
            field.set(object, Double.parseDouble(value));
        }
        else if ("Double".equals(type)) {
            field.set(object, new Double(value));
        }
##         else if ("base64Binary".equals(type)) {
##             field.set(obje

[2017-04-30 19:51] michaelrice commented on #179
@mike-tutkowski did you want to send a pull request with the fix and a test or would you rather me just do it?

[2017-04-30 20:09] mike-tutkowski commented on #179
Whatever is easier for you or whatever you prefer from a change-management standpoint.

If you'd prefer that I do it, I should be able to do so tomorrow (I'm away for the rest of the day today).

Thanks!

On Apr 30, 2017, at 1:51 PM, Michael Rice <notifications@github.com<mailto:notifications@github.com>> wrote:

@mike-tutkowski<https://github.com/mike-tutkowski> did you want to send a pull reques

[2017-04-30 20:28] michaelrice commented on #179
Ill take care of it today so it can be part of the 6.0.05 release, plus Monday when I go back to work I have to get back to OpenStack stuff.

[2017-04-30 20:31] michaelnetapp commented on #179
Thanks so much.  We really appreciate this work.

On Apr 30, 2017 2:28 PM, Michael Rice <notifications@github.com> wrote:

Ill take care of it today so it can be part of the 6.0.05 release, plus Monday when I go back to work I have to get back to OpenStack stuff.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/yavijava/yavijava/is

[2017-04-30 20:32] mike-tutkowski commented on #179
Awesome – thanks!

On Apr 30, 2017, at 2:31 PM, michaelnetapp <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks so much. We really appreciate this work.

On Apr 30, 2017 2:28 PM, Michael Rice <notifications@github.com<mailto:notifications@github.com>> wrote:

Ill take care of it today so it can be part of the 6.0.05 release, plus Monday when I go back to work I have to get

[2017-05-01 05:45] #179 closed, assigned to nobody

[2017-05-01 06:06] #167 closed, assigned to michaelrice

[2017-05-12 09:00] binque opened #233 "[question]Why the method retrieveObjectContents in InventoryNavigator class is private？"
Why the method retrieveObjectContents in InventoryNavigator class is private？
`private ObjectContent[] retrieveObjectContents(String[][] typeinfo, boolean recurse) `

I just want to get some properties of host.

[2017-05-16 23:19] dantran opened #234 "lombok should be at provided scope"
I just notice lombok is set as compile scope. it is intended?

see http://techqa.info/programming/question/29385921/maven-scope-for-lombok-(compile-vs.-provided)

[2017-05-17 10:19] vThinkBeyondVM opened #235 "Any plan on releasing support for vSphere 6.5 + REST API client ?"
It has been while now, vSphere 6.5 is released. This time REST APIs are also introduced for some of the features. What is our plan to provide support for new APIs in vSphere 6.5 as well as Java REST API client?

[2017-05-29 21:35] aapfactory commented on #115
I also observed this in 2 VCs, one 6.0 and other 6.5. When I  use IP address in 6.0, I see this error. I rerun the tests with DNS name, the same test passed. However, in 6.5 VC instance, it doesn't work with both ip and DNS name. Moreover, in this 6.5 instance, self signed certs were little skewed. Let me regenerate the certificate and try.
Having said that, HostnameVerifier should handle this. I

[2017-05-31 00:50] mbap commented on #222
Hey Michael,

Thanks for fixing this issue. I just noticed this problem in a project of mine, and was curious if there was any plans to backport this into a bug fix release. The main issue with explicitly specifying which implementation is that if there are two dependencies and both are pulling different slf4j implementations you get into a bind, and one gets randomly chosen.

According to the doc

[2017-05-31 01:07] michaelrice commented on #222
What exactly did I do wrong @mbap? If you want just send over a pull request with the fix. This change is only in the 6.5 branch right now anyway and Im not even 1/2 way done adding all the 6.5 stuff so there is plenty of time to get it fixed before there is a release.

[2017-05-31 01:31] mbap commented on #222
Sorry if that came across as blaming you, that wasn't the intent. You did nothing wrong.

What I'd like to know is how you plan/schedule bug fix releases, and if a7efb96 could be considered for another 6.0 bug fix release. I understand that the 6.5 stuff is a work in progress and that you already merged it into that development branch.

To clarify my original post, what I was trying to say is that

[2017-05-31 01:44] michaelrice commented on #222
Oh I see. I thought you were saying I might have done the wrong thing in the gradle file for how I declare the compile time dep. I do not plan to back port that work into a 6.0 branch because it changes how the lib would work. I do agree I shouldnt have done it this way to begin with by using log4j but I didnt know about slf4j when I did all the log4j stuff, and I think to change how the lib would

[2017-05-31 04:18] mbap commented on #222
Ya I agree with it being a larger amount of work, and your solution would definitely work for me. I def don't want to create a maintenance headache for you though, but if you feel it wouldn't be too tough that would be great.

[2017-06-22 21:26] ghost opened #237 "does vijava work with linked vcenter group?"
If we have multiple vcenter server configured as a linked group, will vijava return all server side objects? or just from the connected vcenter ? Thanks.

[2017-07-06 16:18] pjdarton opened #238 "RFE: Add a maxTimeToWait parameter to Task.waitForTask"
At present, com.vmware.vim25.mo.Task,waitForTask(int runningDelayInMillSecond, int queuedDelayInMillSecond) will wait "forever".

Yesterday, this caused me some difficulties, as my vSphere cluster decided that the "PowerOffVM_Task" Task was incomplete even after 30 minutes of waiting (it was at "100% progress" but not yet "complete"), and the Task did not declare itself complete (with an error) un

[2017-07-20 08:16] zhenmie365 opened #239 "[question]Any examples of upload/download file to/from datastore?"
Hello:
Any examples of upload/download file to/from datastore?

I found some example of Perl or Python:
[http://www.virtuallyghetto.com/2014/06/how-to-efficiently-transfer-files-to-datastore-in-vcenter-using-the-vsphere-api.html](url) and [https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/upload_file_to_datastore.py](url)

but I still have no idea of accessing datastore file

[2017-07-24 06:02] zhenmie365 commented on #239
I found the way.

Use static struct of trustAllHttpsCertificates() in com.vmware.vim.rest.RestClient class before creating httpsConnection, and use url of host folder and get ticket.id from sessionManager.acquireGenericServiceTicket(spec) to add to header. than it can upload/download file from datastore through Esxi host.

[2017-07-28 05:28] nE0sIghT opened #240 "[Question] Using yavijava offline (online DTD parsing)"
Hello.

While trying yavijava in Internet-less environment I'm experienced exception:

[code]

dom4j trying to validate online DTD and failed to connect to external server.
What is the proper way to disable xml validation or online DTD processing?

[2017-07-28 06:15] michaelrice commented on #240
Maybe something in this post will help: https://stackoverflow.com/questions/1185519/how-to-read-well-formed-xml-in-java-but-skip-the-schema/1185766#1185766

[2017-07-28 06:34] nE0sIghT commented on #240
@michaelrice

Thanks for fast response.

Since I'm using higher level API (yavijava) all XML processing methods (like DocumentBuilder) out of my control as I understand.

I searched some system property or way to define default EntityResolver, however fail to found it.
It is possible for me to include yavijava source directly in my project and set custom EntityResolver in yavijava code, however I

[2017-07-28 07:00] michaelrice commented on #240
So just guessing here without digging in very much Im guessing you may have to make your own client like we did in the [ApacheHttpClient](https://github.com/yavijava/yavijava/blob/gradle/src/main/java/com/vmware/vim25/ws/ApacheHttpClient.java) and when you are in there you could try various stuff with the
[code]
Or something similar. Ive never had to do this or mess with dom4j at this low level li

[2017-07-28 12:29] nE0sIghT commented on #240
I dig this issue and found that there is no way to specify EntityResolver for yavijava because it should be set [prior to Document.read() call at XmlGenDom.java#L81](https://github.com/yavijava/yavijava/blob/gradle/src/main/java/com/vmware/vim25/ws/XmlGenDom.java#L81).
Only implementing own SAXParserFactory, SAXParser, XMLReader and ignoring setEntityResolver method will do the trick, however it w

[2017-08-15 06:50] zhenmie365 opened #241 "[Question]It's weird that "%" converts to "%25" when using method ManagedEntity.getName()"
hello:
       I found one weird thing is that, the charactor "%" is converted to "%25" in output using method ManangedEntity.getName() when ManagedEntity (VirtualMachine, ClusterComputeResource, .....) name contains "%".
       Is it a bug? Or it's common?

[2017-08-23 17:43] srazin opened #242 "GPU Support"
Is there a way to obtain GPU information as well as metrics (utilization) using yavijava?

[2017-08-30 03:11] michaelrice commented on #242
There is a `HostGraphicsInfo` data object that is a property of the `HostConfigInfo`, and the `HostGraphicsManager`. As for metrics Im not seeing anything obvious but I havent ever looked super deep into that.

http://www.yavijava.com/docs/vim.host.GraphicsInfo.html
http://www.yavijava.com/docs/vim.host.GraphicsManager.html

[2017-09-13 07:34] luffyzero opened #243 "How to get datastore latency?"
StoragePerformanceSummary's datas are all 0, but real datas greater than 0 through other monitor software

[2017-09-13 07:46] michaelrice commented on #243
Can you provide some xml payloads that I could use to recreate your issue? There is a good chance the wrong metrics are being used in yavijava vs the other monitor software.

Sent from my iPhone

[2017-09-13 08:36] luffyzero commented on #243
Sorry，my description has a problem that the xml data from vcenter is 0, not yavijava's issue!
I want to get datastore latency and vm latency, how can I obtain these datas using yavijava?

[2017-09-13 08:42] luffyzero commented on #243
There is a bug in vijava which **Class org.doublecloud.ws.util.ReflectUtil**'s method **setObjectArrayField** misses handling double array, it should add
       else if ("double[]".equals(type)) {
            field.set(object, toDoubleArray(values));
        }

[2017-09-13 15:03] marcosox opened #244 "VirtualMachine.terminate missing"
I found in the docs for VirtualMachine the [terminate](http://www.yavijava.com/docs/vim.VirtualMachine.html#terminate) function, but couldn't find the corresponding method in the Java API. Is it missing?

[2017-09-13 16:14] michaelrice commented on #244
Good find. Thanks for pointing that out.

[2017-09-13 16:25] michaelrice commented on #243
Im confused @luffyzero What does your last comment have to do with the original issue? Also that bug has been fixed in this project for like 3 years.

[2017-09-14 07:39] luffyzero commented on #243
I try two methods to get datastore's latency, one is **StoragePerformanceSummary**, another is **PerformanceManager.queryPerf**.

Obtain object **StoragePerformanceSummary** uses method **setObjectArrayField** . Method **setObjectArrayField** do not handle **double array** and  **throw new RuntimeException("Unexpected Type at setObjectArrayField: " + field.getType().getCanonicalName() + field.getN

[2017-09-14 14:47] michaelrice commented on #243
Can you enable TRACE logging and provide the XML that is causing your RuntimeException?

[2017-09-15 01:05] luffyzero commented on #243
public class StoragePerformanceSummary extends DynamicData {
    public int interval;
    public int[] percentile;
    public double[] datastoreReadLatency;
    public double[] datastoreWriteLatency;
    public double[] datastoreVmLatency;
    public double[] datastoreReadIops;
    public double[] datastoreWriteIops;
    public int siocActivityDuration;
}
When transform xml to Object **StoragePerf

[2017-09-15 01:10] michaelrice commented on #243
patches welcome.

[2017-09-24 08:28] jinweijie0527 opened #245 "yavijava6.0 can not connect to vsphere5.0 or 5.5"
[code]

log4j:WARN No appenders could be found for logger (com.vmware.vim25.ws.WSClient).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.
java.rmi.RemoteException: Exception caught trying to invoke method RetrieveServiceContent; nested exception is:
        java.net.ConnectException: Connection timed out (C

[2017-09-24 08:45] michaelrice commented on #245
Can you post your TRACE logs here? Im not able to see the problem from what you have posted but I am 100% sure there is not a bug in the lib causing this and it will end up being an issue in usage or vcenter configuration. I use this in production on vcenters from 6.5 all the way back to 4.0 right now. Ill be happy to help you trouble shoot though

[2017-09-24 08:54] michaelrice commented on #245
Also from reading the stack trace again you did have a connection time out: `java.net.ConnectException: Connection timed out (Connection timed out)` Thats not going to be the fault of the lib. That is likely a DNS issue or a firewall issue.

[2017-09-24 09:46] jinweijie0527 commented on #245
@michaelrice thanks for your reply, this is firewall issue.

[2017-09-24 09:46] #245 closed

[2017-09-27 10:32] vThinkBeyondVM commented on #235
Hi @michaelrice I just would like to know about vSphere 6.5 support. Some of yavijava users asked same question as well. Your input would be really valuable.

[2017-10-10 11:13] DashThink opened #246 "Get all datastores from the StoragePod (Datastore clusters)"
Hi,

Is it possible to get all the Datastores from the Datastore Cluster(StoragePod) using java. Can you please share the code to retrive the datastores.

Thanks.

[2017-10-12 13:03] DashThink opened #247 "Update Custom Attributes using java"
Hi,

I want to update the value of existing attribute using java. Does anyone have the code?

Thanks

[2017-10-13 16:21] DashThink opened #248 "Static IP address assignment"
Hello,

I am trying to assign static IP to the vm while cloning the vm from template. Below is my code.

CustomizationSpec customSpec = new CustomizationSpec();
		    CustomizationGlobalIPSettings gIp = new CustomizationGlobalIPSettings();
	        customSpec.setGlobalIPSettings(gIp);
	        CustomizationFixedIp fixedIp = new CustomizationFixedIp();
	        fixedIp.setIpAddress(ipAddress);

[2017-11-10 07:51] DashThink opened #249 "IP and MAC address getting null"
Hi,

I am trying to get MAC address but getting null. And when i try to get IP address it returns IP6. I want IP4.
Can anybody help me here.
I am  trying to get sing below code:

vm.getGuest().getIpAddress();
vm.getGuest().getNet()[0].getMacAddress();

Thanks

[2017-11-10 17:33] michaelrice commented on #249
Do you have VMWare Tools installed on the guest os?

[2017-11-13 06:15] DashThink commented on #249
No, Not installed..Is it necessary?

[2017-11-13 06:46] michaelrice commented on #249
Yes, and the machine has to be powered on as well. You might want to check out the docs: http://www.yavijava.com/docs/vim.vm.GuestInfo.html

[2017-11-13 07:32] DashThink commented on #249
I tried by installing vmware tool but same error

[2017-11-16 13:51] asvignesh opened #250 "Alarm reset to green throws error"
With the new version YAVIJAVA (6.0.05) am getting

 while trying to reset an alarm "VM Mac address conflict" while attaching VM to inventory from cloned datastore.

[code]

[2017-11-21 12:54] asvignesh commented on #250
Even the same alarm from the Datacenter MO also throws exception

![image](https://user-images.githubusercontent.com/2026113/33073539-35b20c24-cee9-11e7-8723-eff0f121efbd.png)

[2017-11-21 17:01] michaelrice commented on #250
@asvignesh I asked in the gitter chat a couple of times for you to provide the TRACE level logging but maybe you didnt see the message, so Ill ask here too. Can you provide the TRACE level logging? I wont be able to help you with out it. That logging will contain your password in plain text so please be sure to remove the password before posting the log.

[2017-11-22 14:28] asvignesh commented on #250
Sorry didn't see the gitter message.

Error message from vSphere task "The request refers to an unexpected or unknown type."

[trace.txt](https://github.com/yavijava/yavijava/files/1496333/trace.txt)

[2017-11-23 16:22] michaelrice commented on #250
Its like there are some missing logs here.. In what you posted there is the stack trace `2017-11-22 19:37:23 ERROR WSClient:99 - Exception caught while invoking method: SetAlarmStatus`
But to get to line 99 it had to go by line 89 https://github.com/yavijava/yavijava/blob/gradle/src/main/java/com/vmware/vim25/ws/WSClient.java#L89 which would mean there is a log statement of `log.trace("Invoking me

[2017-11-26 19:13] michaelrice commented on #250
After going through your TRACE logs I found the following issue:

https://gist.github.com/michaelrice/fe1a674ad9c7fac180d6a254e813a862#file-thing-xml-L5

As seen on line 5 of that gist the first param is an `Alarm` instance and it should be an `AlarmManager`.

***Edit***
The `AlarmManager` you are creating in the code you posted above you are using an `Alarm` MOR to make an `AlarmManager` and that

[2017-11-28 09:08] DashThink opened #251 "Distributed Port Group assignment"
How can we assign existing Distibuted port group to the VM using java?
I tried with below code but it shows disconnected...

[code]

[2017-11-28 20:45] michaelrice commented on #250
Let me know if you have any other issues

[2017-11-28 20:45] #250 closed, assigned to michaelrice

[2017-12-06 07:40] asvignesh commented on #250
@michaelrice  it works, after changing the AlarmManager initialization from the serviceInstance it is working.
Thanks for your support

[2017-12-07 09:55] #170 closed, assigned to nobody

[2017-12-14 01:27] shengsang opened #253 "Add non-DocumentExceptions thrown in XmlGenDom.fromXML() as a cause in RemoteException"
In XmlGenDom fromXML(String returnType, InputStream is), if the SAXReader runs into a problem parsing the input stream and the exception is not a DocumentException, then the original trace would be lost in the RemoteException that's constructed.

[2017-12-15 02:20] #253 closed, assigned to nobody

[2018-01-02 09:49] zhenmie365 opened #256 "How to reduce delay of waiting response time after using method SearchDatastoreSubFolders_Task"
hello:
        There are several seconds delay after using method SearchDatastoreSubFolders_Task or SearchDatastore_Task, for searching folders/files information in Datastore.
         Is there any parameter in HostDatastoreBrowserSearchSpec to avoid delay or the delay is default setting in method API? But I find that there is no delay in the same operation on vmware vsphere Web client.
         S

[2018-01-09 17:09] carterg commented on #115
I'm seeing this issue as well in 6.5 when using the IP address

[2018-03-01 09:12] sfrsminfotech opened #257 "Cross vCenter Migration error cannot VirtualEthernetCardDistributedVirtualPortBackingInfo cast to VirtualDeviceDeviceBackingInfo"
While doing migration form one vCenter to another getting below error

Exception in thread "main" java.lang.ClassCastException: com.vmware.vim25.VirtualEthernetCardDistributedVirtualPortBackingInfo cannot be cast to com.vmware.vim25.VirtualDeviceDeviceBackingInfo
                at VCTest.main(VCTest.java:70)

VirtualDeviceDeviceBackingInfo vddBackingInfo= (VirtualDeviceDeviceBackingInfo) device.g

[2018-03-27 08:04] mumSky commented on #184
@B0bSapp B0bSapp , have you solved this problem already?
Exception in thread "main" java.lang.RuntimeException: java.lang.NullPointerException
at com.vmware.vim25.mo.Task.waitForTask(Task.java:182)
at com.vmware.vim25.mo.Task.waitForTask(Task.java:132)

[2018-03-27 08:05] mumSky commented on #184
@michaelrice  What can I do about this question .

[2018-03-27 16:50] #184 closed, assigned to nobody

[2018-03-28 03:36] mumSky commented on #184
@B0bSapp  What can I do about this question

[2018-03-28 03:48] michaelrice commented on #184
@mumSky what do you mean?

[2018-03-28 03:56] mumSky commented on #184
hi,
I met the problem, but I didn't know how to solve it, so I consulted.

【
 Caused by: java.lang.NullPointerException
 at com.vmware.vim25.mo.Task.waitForTask(Task.java:218)
】
the code:
【
  try
        {
         TaskInfo info = getTaskInfo();
         tState = info.getState();-------------------this line: the info is null,  why? what can i do for it?
        }
        catch (Exception e)

[2018-03-28 03:59] michaelrice commented on #184
@mumSky you need to open your own issue if what has been discussed in this current issue does not apply to your problem.

[2018-03-28 05:28] mumSky commented on #184
@michaelrice  This question is similar, so ask how you solved it.

[2018-04-24 14:26] kbrowder commented on #226
Actually this now officially supported in vsphere 6.7 though the APIs have changed (are simpler actually).

https://code.vmware.com/apis/358/vsphere#/doc/vim.VirtualMachine.html#instantClone

[2018-06-15 07:49] ruansteve opened #262 "is it possible add "locale" here?"
https://github.com/yavijava/yavijava/blob/27fd2c5826115782d5eeb934f86e3e39240179cd/src/main/java/com/vmware/vim25/mo/ServiceInstance.java#L131

[2018-06-15 07:51] ruansteve commented on #262
I want to get use local language, but here is the default.
Is is possible to add 1 more param to constructServiceInstance?
Thanks.

[2018-06-27 07:03] wangyuLoveinbj opened #263 "can not set password to a virtual machine"
Can I use yavijava to set a virtual machine password by deploying a virtual machine through a template?

[2018-06-27 19:08] rlin9 commented on #257
You probably want to cast device.getBacking() as VirtualDeviceBackingInfo.
VirtualEthernetCardDistributedVirtualPortBackingInfo is not a subclass of VirtualDeviceDeviceBackingInfo.

[2018-07-19 05:00] adimits2203 commented on #235
Hello, Do we have support for vSphere 6.5, if yes, can someone please share the software version of YAVIJAVA for same?

[2018-07-19 07:33] menih opened #264 "Disable ERROR logging callstack"
Is it possible to customize logging so on ERROR callstack wouldn't appear?

[2018-07-23 21:27] amolpowar commented on #246
You can use the following code

        `    String url="https://"+vcenter+"/sdk";
            ServiceInstance si=new ServiceInstance(new URL(url),username,password,true);
            ManagedEntity[] datas = new InventoryNavigator(si.getRootFolder()).searchManagedEntities(new String[][] { {"StoragePod", "name" }, }, true);
            if (datas != null) {
                for (ManagedEntity data :

[2018-09-05 14:31] mplanquart opened #265 "Unable to retrieve Tasks when one specific Task has been executed due to a missing class (com.vmware.vim25.ArrayOfDVSOpaqueCommandResultInfo)"
See below. When a need for this class is encountered, I can't retrieve any Tasks. Any ways to capture that exception differently to continue the processing of the other Tasks?

18/09/05 16:09:32 ERROR root: ClassNotFoundException caught for type: ArrayOfDVSOpaqueCommandResultInfo
java.lang.ClassNotFoundException: com.vmware.vim25.ArrayOfDVSOpaqueCommandResultInfo
	at java.net.URLClassLoader.findCl

[2018-09-21 14:17] larntz commented on #248
This issue is a year old, but I was just working on something similar.  I saw this while looking for example code and thought I'd post what I came up with.

Basically, what I have done is create a generic customization spec in vCenter. This customization spec has all the windows settings (join domain, product key, admin password, etc).

My java code retrieves that customization spec and copies the

[2018-10-15 10:01] purnanandkumar7 opened #266 "VI java API's"
Does all the VI java API's are exposed in YAVI java or i have to use YAVI java API's only?

[2018-10-15 20:56] michaelrice commented on #266
I do not understand this question. What do you mean?

Sent from my iPhone

[2018-10-16 02:32] vThinkBeyondVM commented on #266
Old VIJava support was up to 5.5 and later since Vi Java was dead, Michael forked existing Vi Java project and renamed it as YA VI Java, which supports vSphere 6.0 as well..overall everything from older Vi Java is already there in yavi Java, hence use ya Vi Java. Your older code should work fine on ya Vi java

[2018-10-16 08:14] purnanandkumar7 commented on #266
Thanks @vThinkBeyondVM

[2018-10-16 08:14] #266 closed, assigned to nobody

[2018-11-05 07:23] AmitoVrito opened #267 "Error while provisioning a vm in RegisterVM_Task for vsphere 6.5"
[code]

[2018-11-05 09:18] AmitoVrito commented on #267
any comments or guess?

[2018-11-08 01:01] ghost opened #269 "ClassCastException in com.vmware.vim25.ws.VimStub.fetchDVPortKeys(VimStub.java:582)"
Am getting below exception
java.lang.ClassCastException: java.util.ArrayList cannot be cast to [Ljava.lang.String;
        at com.vmware.vim25.ws.VimStub.fetchDVPortKeys(VimStub.java:582)
        at com.vmware.vim25.mo.DistributedVirtualSwitch.fetchDVPortKeys(DistributedVirtualSwitch.java:147)

Looks like it returns ArrayList of objects rather than String array.

After changing code as below, am n

[2018-12-26 02:05] menih commented on #264
There is. You need to add a Logger in log4j.xml. Generally it should work, but it does not seem to work for me as well for some reason.

        <Logger name="com.vmware" level="off" additivity="false">
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="Console" />
        </Logger>

[2018-12-26 02:07] menih opened #270 "Disable Log4J"
I am trying to disable log4j error logging, but it does not seem to work. I have added the following in my log4j.xml file, but it does not seem to take affect.

        <Logger name="com.vmware" level="off" additivity="false">
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="Console" />
        </Logger>

[2018-12-26 03:24] menih commented on #270
Figured it out. I am using Log4v2 (version 2) and the since YAVIJAVA is using v1.2. That results in v1.2 code being executed and not log4jv2 bridge (). What needs to get done is:

1) Make sure to exclude Log4j (v1.2) from dependency like so:

		<dependency>
			<groupId>com.toastcoders</groupId>
			<artifactId>yavijava</artifactId>
			<version>6.0.05</version>
			<exclusions>
				<exclusion>
					<

[2018-12-26 03:24] #270 closed, assigned to nobody

[2018-12-26 03:26] menih commented on #264
Figured it out. I am using Log4v2 (version 2) and the since YAVIJAVA is using v1.2. That results in v1.2 code being executed and not log4jv2 bridge (). What needs to get done is:

1) Make sure to exclude Log4j (v1.2) from dependency like so:

		<dependency>
			<groupId>com.toastcoders</groupId>
			<artifactId>yavijava</artifactId>
			<version>6.0.05</version>
			<exclusions>
				<exclusion>
					<

[2018-12-26 03:26] #264 closed, assigned to nobody

[2019-01-10 04:56] lindaosong opened #271 "After the VM is created, the NIC of the VM cannot be seen on the vCenter."
As the title, I created the virtual machine through the createVM_Task method. I can't see the virtual machine's network card on vCenter, although I have set the network card configuration in VirtualMachineConfigSpec.

Has anyone encountered a similar problem, ask for help, I used vc 6.5

[2019-02-22 22:05] shravyarani opened #272 "Fatal error compiling: java.lang.ExceptionInInitializerError: com.sun.tools.javac.code.TypeTags"
I am using yavijava 6 version. When add the dependency in my pom and compile facing the below error:
Fatal error compiling: java.lang.ExceptionInInitializerError: com.sun.tools.javac.code.TypeTags

I am using JDK 10. I have read few posts it saying this error is because of the lombak framework.
yavijava uses

    <dependency>
      <groupId>org.projectlombok</groupId>
      <artifactId>lombok</art

[2019-03-11 07:03] santoshbebe opened #273 "Reconfigure VM for GPU"
Hi,

With the available APIs in 6.5 support of YAVIJAVA, how can we share a GPU across VM's, is it the same way we add a PCI device config to reconfigure a VM.

Anyone has tried it earlier. Any pointers or links is much appreciated.

Thanks
Santosh

[2019-03-11 07:49] Manish0792 opened #274 "Need to know if datastore is ISCSI (Physical Datastore)"
Hi,

I am trying to get the transport mode(SAN, HOTADD, NDB, etc) for each disk in the VM before opening the disk. Before I do so, I need to check if I can eliminate any of the transport modes before opening the disk. I was able to crack the logic to confirm that the mode for HOTADD by checking if it is a Virtual Machine and by checking if the disk is SCSI, but I am not able to crack the same for

[2019-04-24 07:29] navneetkarnani commented on #272
The solution is to use Lombok as a provided dependency.

So, with replacing the right version below, use this:

            <dependency>
                <groupId>com.toastcoders</groupId>
                <artifactId>yavijava</artifactId>
                <version>${yavijava.version}</version>
                <exclusions>
                    <exclusion>
                        <groupId>org.projectlo

[2019-05-08 06:53] teetrenz opened #275 "Unnecessary wait in Task.waitForTask (int runningDelayInMillSecond, int queuedDelayInMillSecond)"
At the end of the loop, there is a Thread.sleep based on the current task status (lines 194 - 201):

            // sleep for a specified time based on task state.
            if (tState.equals(TaskInfoState.running)) {
                Thread.sleep(runningDelayInMillSecond);
            }
            else {
                Thread.sleep(queuedDelayInMillSecond);
            }

In case the tState is

[2019-05-16 15:58] michaelrice commented on #237
The way linked mode works is a UI thing for vcenter only, so you would still need to hit each vcenter directly to be able to access its API end point.

[2019-05-16 15:58] #237 closed, assigned to nobody

[2019-05-16 16:03] michaelrice commented on #262
That is possible, and Ive added it to the enhancement list for future releases.

[2019-05-16 16:06] michaelrice commented on #275
Is this something you would be willing to send a patch to address with a test?

[2019-05-16 16:08] michaelrice commented on #273
I have not completed the 6.5 or newer work yet, so unless its possible with 6.0 it wont be possible to do until the 6.5 work is completed.

[2019-05-16 16:08] #273 closed, assigned to nobody

[2019-05-16 16:10] michaelrice commented on #271
Im unable to reproduce this. If its still a problem please reopen this and provide some sample code I can use to recreate the problem.

[2019-05-16 16:10] #271 closed, assigned to nobody

[2019-05-16 16:14] michaelrice commented on #267
Yes, you are missing the path param to that method call. `A datastore path to the virtual machine.` http://www.yavijava.com/docs/vim.Folder.html#registerVm

[2019-05-16 16:14] #267 closed, assigned to nobody

[2019-05-16 16:19] michaelrice commented on #265
How can I recreate this error? What version of vsphere are you using, can you provide some sample code I could use?

[2019-06-24 08:21] mplanquart commented on #265
Hi Michael,

Sorry for the delay. Was out of commission for a while!
The “test” code is at the end… Nothing special about it (as it mostly came from existing examples)! Version is 6.0.05
<dependency>
<groupId>com.toastcoders</groupId>
<artifactId>yavijava</artifactId>
<version>6.0.05</version>
</dependency>

Just provide a valid ServiceInstance to the get_Data method…
In our environment, we get th

[2019-06-24 09:45] mplanquart commented on #265
Hi Michael,
I played a little more with this, and found out that this task is related to a host entering maintenance mode in all our environments (all configured with NSX and vCloud).
See attached screenshot.
The Task “Execute opaque command for set of entities” seems to be the issue!
Thanks,
Marc.

[cid:8611CBFB-E118-4A51-BECE-5BBA726C304E@net.local]

On Jun 24, 2019, at 10:21 AM, Marc Planquart

[2019-06-29 07:53] menih opened #276 "Custom HTTP client"
YAVIJAVA claim to allow alternative HTTP client, how is that achieved?

[2019-06-29 12:39] michaelrice commented on #276
There is an example in the tree, check out the [ApacheHttpClient.java](https://github.com/yavijava/yavijava/blob/gradle/src/main/java/com/vmware/vim25/ws/ApacheHttpClient.java) And the [WSClient.java](https://github.com/yavijava/yavijava/blob/gradle/src/main/java/com/vmware/vim25/ws/WSClient.java)

[2019-06-29 12:43] michaelrice commented on #276
Im guessing you may need an example of how to use it once implemented as well. For that see the following test: [ApacheHttpClientTest.java](https://github.com/yavijava/yavijava/blob/gradle/src/intTest/java/com/vmware/vim25/ws/ApacheHttpClientTest.java)

[2019-06-29 16:49] menih commented on #276
But how to I swap the client and make the library use one vise the other?

On Sat, Jun 29, 2019 at 5:43 AM Michael Rice <notifications@github.com>
wrote:

[2019-07-01 16:00] michaelrice commented on #276
Did you look at the test I linked to? It provides usage..

[2019-07-01 17:14] menih commented on #276
Yes. I have. I was hoping to use abstraction API while underlying HTTP
client is swapped, and not HTTP client directly. I think I figured it
out... All that is needed is this:

        ClientCreator.clientClass = ApacheHttpClient.class;

On Mon, Jul 1, 2019 at 9:00 AM Michael Rice <notifications@github.com>
wrote:

[2019-07-15 12:54] Harish0596 commented on #239
Any sample code to download a file that was already uploaded to the datastore in vcenter?

[2019-09-25 11:26] yashu2203 commented on #110
I faced a similar issue. For me, I logged out the service instance without runnng CacheInstance.destroy().  writing that line before logging out service instance, fixed it.

[2019-10-08 01:48] johnkm516 opened #277 "Event stream listener for vSphere"
Is there an event listener in YaviJava such that events are pushed to us rather than us polling the API for changes in events? All the examples I see require some sort of infinite loop that polls for new events periodically.

[2019-10-15 06:52] ravirangappa opened #278 "Default soapAction to a minimum version in WSClient"
This is more of a question and not a bug.

Starting vSphere 7.0, any SOAP request with empty soapAction header value is treated as a non-compliance with HTTP 1.1 specs and is rejected.

POST /sdk HTTP/1.1
SOAPAction
Content-Type: text/xml; charset=utf-8
User-Agent: Java/1.8.0_221
...

An empty header value violates the HTTP protocol mandating that the HTTP header
field format is a field-name follo

[2019-10-15 13:59] michaelrice commented on #278
Sure send a patch and I’ll apply it and cut a release with the fix.

Sent from my iPhone

[2019-10-16 04:59] ravirangappa commented on #278
Attached the patch file generated from level:
https://github.com/yavijava/yavijava.git/

Thanks,
Ravi

[WSClient.java.zip](https://github.com/yavijava/yavijava/files/3732502/WSClient.java.zip)

[2019-12-02 04:29] ravirangappa commented on #278
Hello Michael,

Any ideas when this patch could get into a release?
We plan to migrate to yavijava from the legacy vijava library as soon as the proposed fix is available in a release. Until a formal release is available, we are stuck with vijava.

Thanks,
Ravi

[2019-12-31 13:16] tayloj opened #279 "How to retrieve managed objects and properties in single call? (InventoryNavigator#searchManagedEntities provides no access to property values)"
Specifically, this method:

[code]

This seems to be a bug/oversight preserved from the original VIJAVA, but it's somewhat frustrating one.  The method is defined so as to be able to do thing like:

[code]

to be able to retrieve all the VirtualMachines *and* their runtime info and names all at once.  Its implementation actually does get all that information in an array of ObjectContent:

[code]

[2020-01-30 09:30] #121 closed, assigned to nobody

[2020-04-23 13:06] Space2Man commented on #235
Hi @michaelrice can we help somehow?

[2020-08-25 06:36] ecornely commented on #239
In your explanation all sound so obvious but I'm still struggling with that, have you any sample ?

[2020-09-25 03:03] power721 opened #281 "Does the project support 7.0 yet?"
Does anyone tested with vSphere 7.0?

[2020-09-30 01:45] xh26 commented on #281
It's basically worked on vSphere7, but can not use the new feature since vSphere6.0 such as tag, content library...

[2020-10-12 08:54] aijiaxiang commented on #281
请教您一下，在VCenter7.0上，viJava是否还能够修改cpu，内存和磁盘这些配置呢，还有是否还能够正常获取集群中的虚拟机列表。

[2020-10-14 01:30] qq734504513 commented on #281
Before, we had the official website of Yavijava.com to check the documents. Now this domain name has disappeared. Could you tell me where I can check the documents?

[2020-10-14 01:52] michaelrice commented on #281
It was hosted on github.
https://github.com/yavijava/yavijava.github.io

-mike

On Tue, Oct 13, 2020 at 20:31 qq734504513 <notifications@github.com> wrote:

[2020-10-14 02:08] qq734504513 commented on #281
Thank you very much

[2020-10-14 05:28] aijiaxiang commented on #281
does it support  vSphere 7.0?

[2020-10-14 09:17] xh26 commented on #281
可以

[2020-10-14 17:42] michaelrice commented on #281
No new features have been added, but it should still work on 7.0 just no new functionality will be there. So sort of.. yes, and depending on what you want to do.. no.

[2020-10-15 12:35] kimmy-pw commented on #281
Will a new version of Yavijava be released?

[2020-11-17 10:29] wsjyhome commented on #281
还继续开发吗

[2020-12-01 07:19] kimmy-pw commented on #281
这块软件已经3年没出过版本了，日后还会更新版本么？

[2020-12-21 12:54] ashwantmanikoth commented on #278
hi,
this fix is under vijava or yavijava?

[2021-01-20 03:35] kimmy-pw commented on #281
当前很多地方都在使用VCenter，这个软件真的不打算更新了么？

[2021-01-20 03:37] kimmy-pw opened #282 "VCenter is currently used in many places. Is this software really not going to be updated?"
VCenter is currently used in many places. Is this software really not going to be updated?

[2021-03-18 06:31] imvishalpatel commented on #282
Yes Kimmy you are right. I'm also looking for this feature. but, have you tried this library with VCenter ?

[2021-04-06 15:02] CentroricercheRPS opened #283 "Unable to log into rootFolder"
With ESXi 6.x, I can log on the rootFolder:

[code]
However, with ESXi 7.0.2 this request is silently discarded, unless I use another object instead of the rootFolder. Is this an issue of Yavijava?

[2021-04-08 09:17] #283 closed, assigned to nobody

[2021-04-30 23:36] dsharma1 commented on #121
Whats the issue here? I am also getting the same error? My namespace version is  xmlns="urn:vim25"> and vsphere version is 7.0

[2021-05-21 17:22] michaelrice commented on #282
Pull requests welcome.

[2021-05-21 17:22] #282 closed, assigned to nobody

[2021-07-20 10:25] DanaJomar opened #284 "When doesn't an available PerfMetricID report Data?"
I'm trying to collect the perfomance data of each entity (cluster/datastore/Host/VM) in our vmware environment. The idea is to get the available PerfMetricIds for the target entity with `queryAvailablePerfMetric`, query those and report the details of the counter, the timestamp and the value.

However when I get the `PerfMetricIds` for an entity, not every detected (returned) `PerfMetricId` is rep

[2021-09-30 05:07] jian-yang-fit2cloud opened #285 "Can I specify the ESXi version when creating a virtual machine?"
I want to specify the ESXi version when I clone from vm template, like this:

![image](https://user-images.githubusercontent.com/80813299/135390732-9a7af8a5-f476-4b06-8703-28ee36460395.png)

Is there any way to achieve this?

[2022-01-31 14:02] Zybrion commented on #285
In your title you specified "When creating a virtual machine". In this case you can use the following to set the hardware version of the vm:
[code]

You can look up the hardware versions here: [here](https://kb.vmware.com/s/article/1003746)

<html><body>

Virtual Hardware Version | Products
-- | --
19 | ESXi 7.0 U2 (7.0.2)
18 | ESXi 7.0 U1 (7.0.1)			Fusion 12.x			Workstation Pro 16.x			Workstation

[2022-02-03 13:00] jian-yang-fit2cloud commented on #285
thank you for your reply!

[2022-02-03 13:00] #285 closed, assigned to nobody

[2022-03-10 05:52] MRamkee opened #287 "Log4j 2.X is not compatible with Javijava.6.0.0.5 (Latest)"
Hi Team,

We have migrated our log4j from 1.X to 2.X,  and we are using yavijava6.0.0.5 lib.
We have observed that yavijava is still using log4J 1.X.

when can we get the updated lib which can support log4j 2.X ?

[2022-04-28 18:23] vnob commented on #281
searchManagedEntity() function seams to not be working.

[2022-05-05 12:21] tr7zw commented on #234
Just ran into this trying to build with Java 17, and yavijava auto adds an old, incompatible version of Lombok to the classpath. Not cool.

[2022-07-06 12:41] TodereanLenuta commented on #281
Hi,
I'm also interested in whether the library supports vSphere 7.0.
I can't find any official writing anywhere.

Thanks!

[2022-09-07 10:10] talmoshe24 commented on #121
Just found out that login to vc7 using Amazon Corretto\jre8 works for me!
Can't explain... I am using Java(TM) SE Runtime Environment (build 1.8.0_202-b08) to connect with the same code to vc 6.7 and it works.

[2022-10-26 07:38] lifemanship opened #289 "Fix the cookie handler for ApacheHttpClient"
We have faced with a network issue: vcenter returns header field `set-sookie` in lower case.

Pull request:
https://github.com/yavijava/yavijava/pull/288

[2022-10-26 16:23] #289 closed, assigned to nobody

[2022-10-26 16:25] michaelrice commented on #281
I do not have the bandwidth to work on this project anymore.

[2022-10-26 16:26] michaelrice commented on #281
See: https://github.com/yavijava/yavijava/issues/281#issuecomment-708556431

[2022-10-26 16:27] michaelrice commented on #287
Pull requests accepted.

[2022-10-27 11:51] lifemanship opened #290 "Plans to release new version(6.0.06) with the minor changes"
Hi @michaelrice
We use [vsphere-cloud-plugin](https://github.com/jenkinsci/vsphere-cloud-plugin) in our jenkins CI. The `vsphere-cloud-plugin` depends on [yavijava](https://github.com/jenkinsci/vsphere-cloud-plugin/blob/master/pom.xml#L95-L96).

Last few months we have been experiencing a network problem with `vsphere-cloud-plugin`, i.e. it fails to connect(Login) to our vcenter with the following

[2022-11-14 09:19] rahulcse03 commented on #287
Hi Team, any plans to put up new release with updated log4j? or we should compile and take up a jar. Suggestions please.
Thanks.